[2021-06-15 15:48] #8 closed

[2021-06-16 01:03] larsks commented on #270
To summarize the related changes here:

- There is a proposal in cci-moc/ops-docs#15
- There is a repository that defines labels in https://github.com/cci-moc/moc-labels
- There is a container image with tooling to manage repository labels in https://github.com/cci-moc/gh-tools-image

[2021-06-16 16:32] larsks commented on #254
Support case for failed install: https://access.redhat.com/support/cases/#/case/02966517

[2021-06-16 22:18] naved001 commented on #237
We don't have any free switchport in cage 15 (on either switches). So Hakan swapped the cables between the 2 nics, and then the "problem" nic started to work. So it looks like the the NIC and the cable is good, something is wrong with that switchport.

This node is also connected to the same brocade switch.

Could it be the case that the switch is going bad? at least 2 switchports are not working.

[2021-06-18 17:51] naved001 opened #287 "OCT hardware preparation"
Things we need to do to the servers

1.  **Update the 10G NIC firmware and enable pxe boot on those**: This  can be accomplished by booting the node from `sfc-utils-v7_1_3_1000.iso` and then running the update and write command (I think it's `sfupate --write`). Once that's done, reboot the system and we'll see the option to enter the BIOS of the 10G NICs using CTRL+B, from there we can enable pxe

[2021-06-21 14:56] larsks commented on #212
I've tried following up on this a couple of times with Nvidia and CDW, but no luck so far. I've just sent the following message to everyone involved:

[2021-06-21 15:38] naved001 commented on #287
Figured this out.
Some systems are running iDrac 1.5 and those can't be directly updated to the latest 2.X version. So we first update to version [1.66.65](https://dl.dell.com/FOLDER02705808M/1/iDRAC7__1.66.65__A00.exe) extract the EXE to get `firmimg.d7` and upload that to iDrac.

Once the system is updated to iDrac 1.6X, you can then update it to supported 2.X

[2021-06-21 19:28] naved001 commented on #287
@hakasapl another thing we would need to do is to configure the RAID controller and create appropriate virtual drives.

[2021-06-22 13:30] larsks opened #288 "SSO outage"
SSO services were offline for about 16 hours, starting around 6pm on 6/21 until @knikolla and I restored service around 9am on 6/22. This was probably due to a faulty firewall configuration, which prevented the two sso nodes from synchronizing correctly.

[2021-06-22 13:35] larsks commented on #288
We followed https://docs.mirantis.com/mcp/q4-18/mcp-operations-guide/tshooting/tshoot-mcp-openstack/tshoot-galera/restore-galera-cluster/restore-galera-manually.html for restoring the galera cluster.

We may want to implement some mysql health checks based e.g. on information in https://galeracluster.com/library/training/tutorials/galera-monitoring.html. I suspect there are pre-existing checks we

[2021-06-22 13:54] knikolla commented on #280
I commented out `startup.sh` from `/etc/rc.local` in sso[1-2] and pushed PRs for all previously local changes.

[2021-06-22 14:09] knikolla commented on #281
I'm interested in something like this for the SSO nodes too.

[2021-06-22 14:34] #280 closed

[2021-06-22 15:16] knikolla commented on #288
It also makes sense to script out the process of manually restarting a galera cluster.

[2021-06-22 15:21] knikolla commented on #69
Being terrible at everything ops, I'd love to play around with developing some automated test environment hooked up to GitHub where we can test the playbooks before running them on production services.

[2021-06-22 15:25] msdisme commented on #279
- [ ] begin notifying users,etc. via mail and web site
- [ ] migrate osticket by early July

[2021-06-22 15:26] msdisme commented on #277
Also cross ref with bulletins

also include openshift and power 9 openshift users

[2021-06-22 15:31] larsks opened #289 "Retire rocketchat"
Now that we have a premium slack subscription, we should stop maintaining our rocketchat instance (and arrange for any automation to talk to slack directly).

[2021-06-22 15:33] msdisme commented on #102
Prioritizing behind configuration of OCT racks

[2021-06-22 15:39] msdisme opened #290 "Get details on how to get Operate First 20TB available and who to work with to enable access etc."
This is the placeholder 20TB while we order a node and is for validating how we will use the storage.

[2021-06-22 15:40] msdisme opened #291 "Order 202TB NESE node for Operate First et al"
after 20TB has been shown to be performant - ops-issues/#290

[2021-06-22 15:50] msdisme opened #292 "Define process/notifications for retiring power 9"
- [x] #407
- [x] #521
- [x] identify end of support date - october/nov 2021
- [x] identify potential users of systems (BCH, URI, Umass, MIT)
- [x] #537
- [ ] #563
- [ ] #612
- [ ] Communicate with IBM about changes (appropriate tone, etc.)
- [ ] #609
- [ ] identify hw for that space?

[2021-06-22 15:52] msdisme opened #293 "Repurpose Rubicon Assistance"
based on #292 - Rubicon has been focused on power 9, how to repurpose to assist with MOC mission.

[2021-06-23 12:41] larsks opened #294 "Script out the process of manually restarting a galera cluster."
We should write a script to handle a manual restart/resync of the galera cluster used by the SSO servers.

[2021-06-23 12:41] larsks commented on #288
@knikolla I've create a separate issue for that suggestion, https://github.com/CCI-MOC/ops-issues/issues/294. I'm closing this issue since the SSO outage has been resolved.

[2021-06-23 12:41] #288 closed

[2021-06-23 12:47] larsks commented on #291
This depends on  https://github.com/CCI-MOC/ops-issues/issues/290

[2021-06-23 12:48] larsks commented on #291
@msdisme would you update the description of this issue? Where will we be using the 202TB?

[2021-06-23 12:50] larsks commented on #246
@msdisme do we have answers for the questions posed in the description? If not, should we modify #285 to be a general overview of NESE storage and policies, rather than being focused on tape storage?

[2021-06-23 12:56] larsks commented on #267
With Ilana gone, this is less important. We've completed the necessary network configuration.

[2021-06-23 12:56] #267 closed

[2021-06-23 13:10] larsks commented on #239
@msdisme I cannot answer those questions, and I don't think @durandom is involved in the DPU work either. Your best bet is probably to pursue this questions via email (I think Andre Beausoleil or Daniel Riek are the folks planning on using this equipment).

[2021-06-23 14:00] knikolla opened #295 "Transfer of knowledge before going on vacation"
- [ ] Figure out what I know that nobody doesn't
- [ ] Write it down somewhere

[2021-06-24 15:55] msdisme opened #296 "Review of Red Hat Interns Pen Testing doc and schedule"
Review plans, identify possible problems or improvements, in google docs linked in comments.  https://drive.google.com/drive/folders/1gzUf1xWkBCxnjwSEWINfyyQl2Nby-bDC?usp=sharing_eil_m&ts=60d4b000

[2021-06-24 16:22] dystewart commented on #296
DRAFT Testing Schedule for the Red Hat Intern Security Project: [https://drive.google.com/drive/folders/1gzUf1xWkBCxnjwSEWINfyyQl2Nby-bDC](url)

Rules of Engagement: [https://drive.google.com/drive/folders/1MdS5fWNQc7p1vLNZuaiZQcCREWMFZ5iB](url)

[2021-06-24 16:23] larsks commented on #296
@dystewart any chance you could put both documents in the *same* folder?

[2021-06-24 16:31] TySheehan commented on #296
@larsks Sorry about that, I thought it would be easier with two. Here is a folder with them both and I apologize for the added confusion:
https://drive.google.com/drive/folders/167wTNzQZYa83zqS1o8kMJAC32VWBYvAp

[2021-06-24 18:14] larsks opened #297 "Fix lars subscription in Asana"
Replace `larsks@redhat.com` with `lars@redhat.com` in Asana

[2021-06-25 17:07] msdisme opened #298 "Configure xilinxlm.massopen.cloud"
Configure xilinxlm.massopen.cloud VM for FPGA work.    https://support.massopen.cloud/scp/tickets.php?id=930

[2021-06-28 18:09] hakasapl opened #299 "NESE GW Reliability Discussion"
Spinning up this ticket that we talked about last week.

### The Issue

NESE gives us a ceph key and information on ceph endpoints to connect to. Because we don't want to share the CEPH key, this team would need to control every system which directly connects to NESE (to start that system will be the UMass NESE gateway, and then in the future a discrete BU NESE gateway). Further, since you can onl

[2021-06-28 19:01] larsks commented on #299
For option 1, you could probably automate the necessary failover semantics using pacemaker.

In option 2, it would probably be easiest to have the gateways configured as an active/passive pair, because in that case you'd only need to manage ip failover. Introducing a load balancer in front of those hosts means either (a) you've got a *new* single point of failure, or (b) you need to also set up an

[2021-06-29 15:07] hakasapl commented on #286
No equivalent RAM worked - removed the RAM from that channel, node now has 256G

[2021-06-29 15:20] naved001 opened #300 "Fix the zabbix-libvirt scripts so they actually collect data"
These have been broken for a while due to failure to resolve compute nodes' names.

[2021-06-29 15:23] naved001 commented on #298
We have to create a DNS entry for whatever floating IP they pick.

[2021-06-29 15:27] naved001 commented on #289
- [ ] send alerts directly to zabbix instead of via rocketchat
- [ ] port HIL node usage updates directly to slack.

With that we can retire rocketchat which is running on our proxmox cluster at px.massopen.cloud

[2021-06-29 23:56] naved001 opened #301 "MGHPCC: OCT 3 and 4 hardware that needs to be fixed"
Here are some nodes in those racks that have some issues.

- [x] OCT4-03: 10G adapter is not detected by the system (Checked it from centos that was installed to disk).
- [x] OCT4-17: No link detected on the 10G port.
- [x] ~OCT3-16: The Raid controller says "SSD State failed".~ Edit: fixed this one
- [x] ~OCT3-12: no 10G boot device detected, looked around in bios and device settings. Supposed to

[2021-06-30 02:19] naved001 commented on #301
This one actually had a sfc card, so I fixed that one by booting it with sfcutils iso.

Also, I did go through and update the rest of the nodes.

[2021-06-30 17:08] rob-baron commented on #296
Will need access to the document for the emergency contact list (I requested access to it in google docs).

[2021-06-30 17:09] TySheehan commented on #296
@rob-baron Understood I will add it to the same folder now

[2021-06-30 17:12] rob-baron commented on #296
I see no problem with this - I think it needs to be done.

Let me know if there is anything else I need to do to indicate my approval.

[2021-06-30 17:30] naved001 commented on #296
Looks good to me.

[2021-06-30 17:47] larsks commented on #296
I've looked over both documents. I think they're fine. I've added a couple of comments to the rules of engagement document that should be easy to address.

[2021-06-30 20:37] msdisme commented on #296
Anything we need to let network folks at MIT, NEU, BU etc. know about?

[2021-06-30 20:41] larsks commented on #296
@msdisme We could send out an email mentioning that there may be some port scan activity over the next few weeks originating from the addresses that @TySheehan and @dystewart provided in the documents, with the potential for more targeted work in the future (in both cases only targeting hosts on MOC networks).

[2021-06-30 21:27] hakasapl commented on #102
Optane cards installed

[2021-07-01 03:12] msdisme commented on #102
Woohoo!’
________________________________
From: Lars Kellogg-Stedman ***@***.***>
Sent: Wednesday, June 30, 2021 5:28:28 PM
To: CCI-MOC/ops-issues ***@***.***>
Cc: Daitzman, Michael S ***@***.***>; Assign ***@***.***>
Subject: Re: [CCI-MOC/ops-issues] Install Optane Cards in Intel Machine in OCT 4 (#102)

Closed #102<https://github.com/CCI-MOC/ops-issues/issues/102>.

—
You are receiving this beca

[2021-07-01 15:34] larsks commented on #102
Apparently there are still issues to be addressed.

[2021-07-01 15:35] naved001 commented on #102
Reopening it because the server is failing to boot.

![image](https://user-images.githubusercontent.com/20113064/124151283-615afa80-da60-11eb-8e87-2893d1939300.png)

[2021-07-01 18:35] naved001 opened #302 "FreeIPA cleanup"
A lot of our hosts have changed since we last looked at freeipa. Things of the top of my head we should do:

- [ ] Delete old hosts. Hosts that no longer exist but still show up in freeipa.
- [ ] Remove HBAC/sudo rules related to those hosts.
- [ ] Get rid of unnecessary HBAC rules.

[2021-07-02 19:35] hakasapl commented on #299
Makes sense. In that case, I'm leaning more towards option 2 and using a clustered filesystem with IP failover.

[2021-07-07 13:38] naved001 commented on #287
closing this since this is mostly done. https://github.com/CCI-MOC/ops-issues/issues/301 is open for special cases.

[2021-07-07 13:38] #287 closed

[2021-07-07 13:38] #297 closed

[2021-07-07 13:39] naved001 commented on #254
From @larsks's comment

"since we last tried the ocp install, ocp has gone from 4.7.13 to 4.7.16, and now the install seems to work w/o a problem!"
I am going to close this.

[2021-07-07 13:39] #254 closed

[2021-07-07 13:40] #296 closed

[2021-07-07 13:42] knikolla commented on #295
We had a zoom call for this and there's a screen recording.

- Only systems that I usually manage are the SSO nodes. They're running the containerized services for Keycloak, Adjutant and the Onboarding UI for Adjutant. Located at `sso1.infra.massopen.cloud` and `sso2.infra.massopen.cloud`.
- The `docker-compose.yml` files are located in `/app/<service>` where service is `[sso, adjutant, onboarding

[2021-07-07 13:42] #295 closed

[2021-07-07 13:47] msdisme commented on #212
Moving out of sprint 27 and 28 until the cards purchased/scheduled.  @msdisme  to create a new card for specifying machines for GPU and DPU

[2021-07-07 14:09] naved001 opened #303 "nail down what exactly cpu utilization in zabbix means"
the `libvirt.cpu` and `system.util.cpu.blahblah`. the confusion comes from the fact that sometimes cpu utilization can be over 100% for multicore systems.

[2021-07-07 14:11] naved001 opened #304 "Fix Maas"
don't know what's going on but it's unreachable and because it's DNS isn't working that's also causing issues for people trying to login.

The physical console is responding, but I can't login with my freeipa credentials.

[2021-07-07 17:44] naved001 commented on #304
It was mostly the MaaS DNS service that was broken.

The DNS service that should be running on maas is `bind9` but for some reason `systemd-resolver` was running. Even after disabling `systemd-resolver`, I could not start `bind9`

[code]

Looked around for networks here: https://maas.massopen.cloud/MAAS/#/networks?by=fabric
I noticed that I had changed some IPMI neworks (from /24 to /19) and they

[2021-07-07 17:44] #304 closed

[2021-07-08 15:14] naved001 commented on #303
I took a test VM that has 4 vCPUs.

I loaded a single core using `strees-ng` (`stress-ng -c1 -l 100` for 100% load on a single core), and zabbix agent reported 25% utilization (for key `system.cpu.util[,user]`). I then stressed 2 cores and then zabbix reported 50% utilization.

This means for `system.cpu.util.blablabh` it is taking into account the number of cores. For zabbix to report 100% all co

[2021-07-08 15:14] #303 closed

[2021-07-08 15:54] hakasapl commented on #301
OCT4-03: I swapped the NIC and the slot it was on, see if you can see the NIC now.
OCT4-17: Cable wasn't seated all the way - I see a link light now.
OCT3-12: This seems to be a NIC issue, I swapped the NIC, but the NIC may need a firmware update with SFCutils
OCT3-15: It didn't have a NIC, I added a solar flare card.
OCT3-18: This node should be marked broken - either iDrac is broken or some hard

[2021-07-08 18:32] naved001 commented on #301
cool thanks, I verified that all the nodes you fixed can now boot.

[2021-07-08 18:32] #301 closed

[2021-07-08 19:21] naved001 opened #305 "Ceph - Update all clients so they securely reclaim their global_id"
Now that ceph has been upgraded to version  `14.2.11-181.el7cp`, there has been a bug/vulnerability fix [1] and it is now throwing a warning.

After we update all clients, we can then disable `insecure_global_id_reclaim` [2]

[1] https://docs.ceph.com/en/latest/security/CVE-2021-20288/#fix-details
[2] https://access.redhat.com/articles/6136242

[2021-07-09 17:05] naved001 opened #306 "Understand what all ansible roles are doing"
Hi @larsks

The firewall on mochat.massopen.cloud does not allow to listen on port 10050 (zabbix agent). I was looking around https://github.com/CCI-MOC/ansible-role-moc-firewall/blob/master/vars/main.yml#L69 to figure out what's going on, but I am still not sure where do I run these playbooks and all to update the firewall on that host.

If we can spend some time taking about the various ansible

[2021-07-09 20:21] naved001 commented on #237
I moved all the VLANs over to the other functioning NIC. openstack sees this controller, but the compute service is disabled.

When can we call this ticket done?

[2021-07-09 20:35] naved001 opened #307 "Update zabbix server to latest stable"
We are running 4.4 and the latest stable release is at 5.4. One advantage of updating zabbix to 5.4 is because then it has support for pushing notifications to slack, so we won't have to write any custom scripts.

[2021-07-12 13:32] larsks commented on #304
`systemd-resolver` is used by the local host for resolving hostnames. It should probably still be running, unless there was actually some sort of conflict between it and `bind9`.

[2021-07-12 14:15] naved001 commented on #304
I assumed there will be conflict between the two services since they would be using the same port, but I am wrong. They both are now running side by side.

[code]

@larsks I appreciate you looking at the issues even after they are closed!

[2021-07-12 19:27] naved001 opened #308 "OCT10/operate-first hardware network prep"
The new dell hardware in OCT10 racks has two dual port 100Gig nics running at 25 gigs.

Each server has a total of 4 ports (2 per NIC), and we have one port from each NIC going to our switches (oct-hub-1 and oct-hub-2).

I could successfully pxe boot the nodes from our MaaS deployment when booting from a single switchport. But once we configure link aggregation on the 2 switchports, the node start

[2021-07-13 14:35] naved001 commented on #305
[code]
@larsks it looks like these are all openstack clients that need to be updated. If we really can't update those, then I guess we will have to suppress this warning.

[2021-07-13 15:27] #172 closed

[2021-07-13 15:31] larsks commented on #161
Let's plan on putting this on the production OCP cluster once that is up and running.

[2021-07-14 17:32] larsks commented on #305
We'll need to figure out if the necessary changes are available in RHEL7. Right now, the cinder-volume container is using `ceph-common-12.2.12-124.el7cp.x86_64`.

[2021-07-14 17:33] larsks commented on #305
The [CVE](https://docs.ceph.com/en/latest/security/CVE-2021-20288/#fix-details) is a little confusing because it shows that `ceph-common` isn't affected, so there are no links to errata, etc, that might provide information about package versions.

[2021-07-15 13:59] naved001 commented on #305
should we open a support ticket with redhat then?

[2021-07-15 15:01] naved001 opened #309 "Brocade-15-43 switch maybe going bad"
We first noticed that a NIC on a compute wasn't working (https://github.com/CCI-MOC/ops-issues/issues/237). The switchport and the nic detects connectivity but there was no traffic. That NIC was connected to the brocade switch at 15-43.

Then we noticed the same issue in neu-15-28 where its second nic was showing same connectivity issues.

Then Ugur reported that neu-15-26 had similar issues, and

[2021-07-19 14:29] naved001 commented on #298
we added an A record. xilinxlicense.massopen.cloud --> 128.31.26.249

[2021-07-19 14:29] #298 closed

[2021-07-19 15:07] msdisme commented on #279
Planned mail being written here - will flag folks for review.

[2021-07-19 15:24] msdisme commented on #192
- [ ] Identify a place to store dump of database
- [ ] email users of potential osticket outage
- [ ] Created a trial account in support system - send them email
- [ ] schedule Meeting with Naved and Karen to do  Database dump - they will run  mysql commands- hop on goto meeting (we may want to insist on zoom?) - keyboard and mouse control and do stuff via our screen.  Plan for it to take 2 hours:

[2021-07-19 17:40] larsks commented on #192
If we're going to have this operating by the aug. 10 outage, we should plan on having the database migration *finished* by the end of next week at the latest. We pick a date (and confirm it with osticket) for the migration today or tomorrow.

[2021-07-19 17:50] naved001 commented on #216
@pjd-nu pinging you again for more details.

We have 10 OSD servers (2U per server), and 3 monitors (1U each). That's a total of 23U.

We would need to put a 10G switch with 40g uplinks, and a 1G IPMI switch.

With that we should be able to migrate all the ceph nodes to the new rack.

[2021-07-19 18:08] msdisme opened #310 "Config NESE for 20TB usage by Operate First Cluster"

[2021-07-19 18:08] msdisme opened #311 "Asana connection to github"
Ability to Flag an item for inclusion in asana from github or from github for inclusion in Asana and then state synchronized and state changes represented.

[2021-07-19 18:08] msdisme opened #312 "Identify machines for DPU and GPU"
@hakasapl In the rack of 38 systems to use as workers for Operate First:
(Crosslinking this ticket with https://github.com/operate-first/support/issues/147 )
- [x] identify the 20 that will have the bluefield DPU's https://github.com/CCI-MOC/ops-issues/issues/239 and https://github.com/CCI-MOC/ops-issues/issues/212
- [x] if possible identify 1 that can support a DPU, GPU and FPGA (xylynx) if none

[2021-07-19 19:16] msdisme opened #313 "Figure out type of drives on MOC ceph clusters"
For Seagate discussion.  Request from Peter to run the following commands on one of the capacity OSD nodes it would probably identify the drive:

    hdparm -I /dev/sdX

where sdX is one of the capacity drives. That probably won’t work, because I assume it’s on the other side of a Dell PERC controller, in which case this command should work:

   smartctl -a /dev/sdX -d megaraid,0

(the latter may

[2021-07-19 21:24] naved001 commented on #313
[code]

[2021-07-19 22:25] pjd-nu commented on #313
It's a WD. (they bought Hitachi Global Storage Technologies a while back) I don't think we're going to get any Seagate-specific information from it :-)

Although we might want to talk to Seagate about whether SMART telemetry would be useful, and how much overhead would be involved in collecting it. (one of the reasons for Seagate's new FARM format is the overhead of collecting SMART data)

[2021-07-20 15:16] naved001 commented on #279
Will need to address #309 during the shutdown.

[2021-07-20 15:24] naved001 opened #314 "Find out where the spare brocade switches are"
We may need to the replace the brocade switch at 15-35 (#309), so lets find out where the replacement switch is and prepare it.

@naved001 will check if it is at BU
@hakasapl will check if it is somewhere at MGHPCC.

[2021-07-20 15:33] msdisme commented on #310
dup of #240

[2021-07-20 15:33] #310 closed

[2021-07-20 15:34] #271 closed

[2021-07-20 15:35] larsks commented on #240
Support case w/ Red Hat about attaching OCS to NESE: https://access.redhat.com/support/cases/#/case/02986228

[2021-07-20 15:36] larsks commented on #240
I have been testing out HA NFS in front of Ceph using NFS Ganesha; my test setup is https://github.com/larsks/ha-nfs-test

[2021-07-20 15:38] #313 closed

[2021-07-20 15:38] larsks commented on #299
I've been testing out HA NFS using the NFS Ganesha project: https://github.com/larsks/ha-nfs-test

[2021-07-20 15:48] msdisme commented on #277
Probably should open up a seperate discussion about what to do re. mail lists and onboarding eg;

- NERC solution
- this approach but with sync login
- ospurge that also removes them?
- Not sure what else

[2021-07-21 12:49] larsks commented on #277
I've attached a tar file that contains the before and after lists of subscribers. The file is encrypted to me, @naved001 , and @knikolla .

[mailing-list-changes.tar.txt](https://github.com/CCI-MOC/ops-issues/files/6855782/mailing-list-changes.tar.txt)

[2021-07-21 12:50] #277 closed

[2021-07-21 12:50] msdisme commented on #277
Thx!
________________________________
From: Lars Kellogg-Stedman ***@***.***>
Sent: Wednesday, July 21, 2021 8:49:44 AM
To: CCI-MOC/ops-issues ***@***.***>
Cc: Daitzman, Michael S ***@***.***>; Mention ***@***.***>
Subject: Re: [CCI-MOC/ops-issues] Sync kaizen-users mailing list with current accounts (#277)

I've attached a tar file that contains the before and after lists of subscribers. The file

[2021-07-21 12:57] larsks commented on #73
Closed via cci-moc/sprint-tools#28

[2021-07-21 12:57] #73 closed

[2021-07-21 13:55] naved001 commented on #192
I am meeting them today at 3pm to do the migration.

[2021-07-21 14:02] msdisme opened #315 "update message on MOC website about outage"

[2021-07-21 14:20] msdisme commented on #290
either copy details over or see if a dup exists before closing.

[2021-07-21 16:16] naved001 commented on #309
Few more switchports have stopped working.

There are 3 more openstack compute nodes, 1 openstack controller, and 1 oVirt controller that are connected to this switch.
@larsks I think at this point we should vacate the other 3 computes as well before they fail (we are still 20 days away from the shutdown). I am thinking of migrating stuff from the problem oVirt host too. What do you think?

@pjd-n

[2021-07-21 16:56] naved001 commented on #289
I think we can retire it now.

All I had to do was create a slack bot and then update the URL in the scripts that were making those alerts. Didn't have to change anything else.

[2021-07-21 16:59] naved001 commented on #289
okay, I powered off the rocketchat instance on the proxmox cluster and set it not start automatically. Does that mean we can close it then?

[2021-07-21 21:17] naved001 commented on #192
We have migrated our stuff.

These were the instructions they sent after the migration

I have done that. We have 2 custom subdomains pointing to it (osticket.massopen.cloud and support.massopen.cloud) can't have more than that apparently.

Don't know why but I did not get an email response from it when I created an account.

[2021-07-21 22:04] naved001 commented on #192
Their response about the email situation:

[2021-07-21 22:08] larsks commented on #192
The mailserver already listens on port 465. The ostickets folks are correct that we shouldn't be relaying unauthenticated email from anywhere.

[2021-07-22 00:42] msdisme commented on #192
changing ports to 465 ;  if that is not enough I will go hunting passwords

_____________
Michael Daitzman (He/Him/His)
***@***.***
978-201-9965
________________________________
From: Lars Kellogg-Stedman ***@***.***>
Sent: Wednesday, July 21, 2021 6:08 PM
To: CCI-MOC/ops-issues ***@***.***>
Cc: Daitzman, Michael S ***@***.***>; Assign ***@***.***>
Subject: Re: [CCI-MOC/ops-issues] Identify paid o

[2021-07-22 00:50] msdisme commented on #192
Looks like it needs passwords, which I am not spotting in bitwarden.  so manana.

_____________
Michael Daitzman (He/Him/His)
***@***.***
978-201-9965
________________________________
From: Daitzman, Michael S ***@***.***>
Sent: Wednesday, July 21, 2021 8:42 PM
To: CCI-MOC/ops-issues ***@***.***>; CCI-MOC/ops-issues ***@***.***>
Cc: Assign ***@***.***>
Subject: Re: [CCI-MOC/ops-issues] Identify pa

[2021-07-22 16:03] naved001 commented on #216
Just noting down what we talked about it:

* Finalize the rack, make sure we have access to it etc.
* Setup a 1G switch there for IPMI  and some 10G switch for the ceph nodes. Do all the networking bits.
* Once that's done, we can move one OSD server at a time instead of migrating all of the nodes at once.

We don't have to do any of this during the shutdown. We would want to keep things as is dur

[2021-07-22 17:52] pjd-nu commented on #216
I've always wanted to try using dual power supplies to move a server without turning it off :-)

[2021-07-22 23:39] naved001 opened #316 "Fix RHEV/oVirt cluster"
All the hosts in our ovirt cluster are in a weird non-responsive state. I have opened a [ticket with RedHat](https://access.redhat.com/support/cases/#/case/02994746).

![image](https://user-images.githubusercontent.com/20113064/126721859-91d412d2-f450-4187-a7c4-808bb987b852.png)

The management VM is still up and running, while some VMs are unavailable.

[2021-07-23 15:41] msdisme commented on #279
Data Center email:

During this interval, all equipment in the computer room must be powered down.

* Estimated Start Time: Tuesday August 10, 2021 03:00 US/Eastern

* Estimated End Time:  Tuesday August 10, 2021 21:00 US/Eastern

If there are severe storms forecasted for August 10, we may need to postpone the maintenance day by a week, to August 17.  We will provide one week of notice if this tur

[2021-07-23 17:46] msdisme commented on #315
Updated. changed tracking issue to represent MOC activities

[2021-07-23 17:46] #315 closed

[2021-07-23 17:47] msdisme commented on #192
Did further research - possible weirdness with roundcube mail.  @naved001 and @larsks working to resolve

[2021-07-23 17:49] larsks commented on #192
@msdisme to be clear, there were no problems with roundcube. We were debugging SMTP authentication issues, and we were able to resolve things this morning. I believe everything is working as intended at the moment, although I've asked @naved001 to confirm as well so that we're both confident.

[2021-07-23 17:50] msdisme commented on #192
ahh, I misundestood the discussion earlier about sendmail,  apologies and thanks for clarification

[2021-07-23 17:51] larsks commented on #192
This is a good resource on configuring authentication in sendmail: https://access.redhat.com/solutions/6876

[2021-07-23 17:52] larsks commented on #192
@naved001 can you ask the osticket folks about making the display ticket id match the id in the url? So instead of having ticket 942 at https://osticket.massopen.cloud/scp/tickets.php?id=956, we have ticket 956 at https://osticket.massopen.cloud/scp/tickets.php?id=956 instead? It's okay if it only affects new tickets without fixing existing tickets.

[2021-07-23 18:41] larsks commented on #192
I thought I would leave a note here about how I diagnosed the problem.

I wanted to see exactly how osticket was interacting with the SMTP service, but since we're using SMTP-over-SSL a simple `tcpdump` wouldn't work; the traffic is encrypted. I used `haproxy` to set up a MITM proxy that would allow me to capture unencrypted traffic.

The haproxy configuration looks like this (this is modified fro

[2021-07-23 19:12] naved001 commented on #316
Besides re-starting the `vdsmd` service on the compute hosts, redhat support asked me restart the `ovirt-engine` service on the HostedEngine VM (i.e. ovirt.massopen.cloud). With that, all the compute hosts came online.

Howoever, `kzn-ipmi-gw` is still not online and I don't see a useful error message from the GUI. So currently investigating that.

[2021-07-23 19:33] naved001 commented on #192
I asked them if it's possible to have the ticket ID and the ID in the URL be the same for new tickets. Also, I think the email works good, I wanted to try to reset my osticket "user" account that I setup using my gmail, and I got my password reset email on gmail too. so looks like all parts work.

[2021-07-23 19:34] naved001 commented on #192
@msdisme

Is this the panel you are talking about?

![image](https://user-images.githubusercontent.com/20113064/126832490-a30fe6ca-681b-4d26-9980-0f32e1c4b541.png)

[2021-07-23 20:28] msdisme opened #317 "For Seagate Discussion identify drive types in NESE"
_Would it be possible to identify the drive types in NESE?  For MOC we followed the steps below, though this may not be the right solution for NESE. (MOC version here: https://github.com/CCI-MOC/ops-issues/issues/313)_

For Seagate discussion. Request from Peter to run the following commands on one of the capacity OSD nodes it would probably identify the drive:
`
hdparm -I /dev/sdX`

where sdX is

[2021-07-26 13:32] naved001 commented on #316
![image](https://user-images.githubusercontent.com/20113064/126997058-9ffc67c5-1b41-467d-9549-df3b7da10073.png)

Saw the full message once I hovered over my cursor there. Changed the permissions of the disk to `vdsm.kvm`, instead of root. Don't know how it it got owned by root in the first place.

With that, the kzn-ipmi-gw is now running.

[2021-07-26 13:32] #316 closed

[2021-07-26 14:02] naved001 commented on #305
It doesn't look like we are gonna get anywhere with the ticket that we have open.

I ran `ceph config set mon mon_warn_on_insecure_global_id_reclaim_allowed false` only disables `            mons are allowing insecure global_id reclaim`

We still have the other warning `clients are using insecure global_id reclaim`, which I don't know how to suppress.

[2021-07-26 14:22] pjd-nu commented on #305
Does this help? From https://access.redhat.com/articles/6136242

"The affected clients can be listed with `ceph health detail`"

[2021-07-26 14:31] naved001 commented on #305
Right, but most of the those clients are our openstack clients (cinder), and we are running an EOL version of Openstack so no more upgrades for that. That's why I was looking into suppressing the warning instead

[2021-07-27 00:28] msdisme commented on #192
moved paying them to a diff. ticket.

[2021-07-27 00:28] #192 closed

[2021-07-27 14:20] msdisme commented on #255
Here is a spreadsheet that lists fields that we have data for.  We had put in a bunch of ideas of fields we wanted to calculate, but we just didn't have the data to do so.

(https://drive.google.com/drive/u/1/my-drive)

[2021-07-27 14:22] rob-baron commented on #255
https://docs.google.com/spreadsheets/d/1wGprxH1Cltev2VdcgmHg-1TG2YsCA0YNoUmG-ahxzWY/edit#gid=0

[2021-07-27 14:57] rob-baron opened #318 "generate a report on the history/trend data for the systems that run the openstack cluster."
Pull the data from the systems that are running OpenStack to enable generation of a report on the utilization of the entire system.

[2021-07-27 15:26] msdisme opened #319 "Make sure we are not paying Asana"
For Asana to do groups requires an email domain that we control, we can then add other domans and they can be part of the group.

- [x] #400
- [x] #401
- [x] #402
- [x] #403
- [x] #404

[2021-07-27 19:15] larsks commented on #259
@naved001 and I came up with the following list:

- git repositories (maybe)
- switch configurations (maybe, or store them in version control)
- etcd on openshift
  - openshift on baremetal
  - openshift on power9
  - openshift on openstack
- databases on openstack
- mailing list archives, mailspool
- dns server configuration (or store in version control)
- hil database
- other non-version-control

[2021-07-29 18:36] larsks opened #320 "Configure networking for ESI cluster"
We need to set up a few VLANs for the ESI openstack cluster. I would like:

- An internal network (e.g. not public, accessible from, say kzn-rtr, with outbound NAT access)
- An internal provisioning network (does not require any outbound access)
- A public network

The `internal` network doesn't need to be a new network if we already
have one that is appropriate. I'll be using this to log into the

[2021-07-29 18:45] naved001 commented on #320
@larsks OCT4 nodes have a single 10G nic, so should I make the provisioning network the native, and then tag everything else?

[2021-07-29 18:47] larsks commented on #320
Oh, huh. OpenStack really wants more than a single interface. Let me do a little research and see if that's even possible.

[2021-07-29 18:48] larsks commented on #320
Part of https://github.com/CCI-MOC/esi/issues/103

[2021-07-30 15:06] naved001 commented on #305
there's a way to mute health alerts but that's only [available in octopus](https://ceph.io/en/news/blog/2020/v15-2-0-octopus-released/#general) and redhat ceph is still on nautilus. So I guess we will have a persistent warning until the next upgrade.

[2021-07-30 18:08] larsks commented on #240
This is what Red Hat says re: connecting directly to an external Ceph cluster for which we don't have administrative access:

So if we can get the NESE folks to run the Python script provided by ODF (neè OCS), we should be in good shape.

[2021-07-30 19:19] larsks commented on #320
@naved001 for now, let's just set it up like this:

- For the undercloud, make the primary vlan the internal network, and the provisioning vlan a trunked vlan.
- For the controllers, make the primary vlan the provisioning network, and the public network a trunked vlan.

[2021-08-02 18:40] msdisme opened #321 "Cannot delete images - from osticket"
I thought this had github issues associated with it but I am unable to find it - https://support.massopen.cloud/scp/tickets.php?id=926 .

[2021-08-02 19:16] larsks opened #322 "Fix failing NodeNetworkConfigurationPolicy on zero cluster."
There is a failing NodeNetworkConfigurationPolicy on the zero cluster:

    $ oc get nncp
    NAME                          STATUS
    moc-nfs-network-eno2          SuccessfullyConfigured
    moc-nfs-network-enp4s0f1      ConfigurationProgressing
    moc-nfs-network-enp4s0f1np1   SuccessfullyConfigured

This causes us to lose network connectivity when an affected node
reboots. According to case 02

[2021-08-03 15:24] msdisme opened #323 "Screen Scrape configs from Service tag info Dell and HPE"
Data to pull out is  CPU	RAM	SSD	HDD	Network Cards and Speed	Power Supply	Add On Cards/GPU and add it to a spreadsheet tab which includes the service tag and other information.  Repository: https://github.com/CCI-MOC/service-tag-lookup

[2021-08-03 15:29] #299 closed

[2021-08-03 15:41] msdisme commented on #246
closed and migrated to https://github.com/CCI-MOC/ops-issues/issues/285

[2021-08-03 15:43] #246 closed

[2021-08-04 12:53] #289 closed

[2021-08-04 12:54] #306 closed

[2021-08-04 12:54] naved001 commented on #314
We didn't find it at BU, @hakasapl will take a look at the BU space/cages at MGHPCC.

[2021-08-04 13:30] larsks commented on #259
Closing for now; we'll use this as a reference for a future issue.

[2021-08-04 13:30] #259 closed

[2021-08-04 13:57] msdisme opened #324 "Pay OSTicket folks"
Happy with them so pay them - related to https://github.com/CCI-MOC/ops-issues/issues/192

[2021-08-04 14:50] msdisme opened #325 "Create a demo on tuesday afternoon for sprint planning, decrease size of meeting."
SSIA

[2021-08-04 14:51] msdisme opened #326 "Reach out to techsquare to get contract in place to handle wayfair hw inbound"
1. wayfair
2. general hw maintenance/mgmt

[2021-08-04 18:45] naved001 opened #327 "Replace drive in neu-17-15 (ceph OSD, dell poweredge r720)."
![image](https://user-images.githubusercontent.com/20113064/128236893-591dda91-8892-4cdd-854f-13a4dcc4b8a3.png)

It'll take a 10TB drive.

I will then recreate that OSD in ceph.

[2021-08-05 00:11] msdisme commented on #279
@naved001 can we ensure that end user projects will *NOT* restart by default?

[2021-08-05 13:27] naved001 commented on #279
do you mean openstack instances (VMs) in a project?

 I think the instances will stay in the state users set it to. So, if it was off before the shutdown it will remain off, and it was running at the time of shutdown it will automatically start.

[2021-08-05 13:44] larsks commented on #279
@msdisme ...so we could e.g. explicitly shut down any running instances before powering things off, if you want to ensure they don't come back up automatically. It would then be up to the end user to power their instances back on.

[2021-08-05 15:26] msdisme opened #328 "OCP 4.x for MOC Usage by 2nd week of September 2021"
Includes several existing tickets:

[2021-08-05 18:11] msdisme commented on #317
There are 620 Segate drives in the NESE ceph cluster.
this specific model ST14000NM0138

[2021-08-05 18:12] #317 closed

[2021-08-05 18:17] larsks commented on #328
Ping @msd it looks like some content went missing when you created this issue...

[2021-08-05 18:18] larsks opened #329 "Configure networking for OPF nodes on OCT-10 and OCT-3"
Naved,

For the operate first nodes (that's OCT10-00 through OCT10-02 and OCT3-00 through OCT3-31), let's put them all on the CSAIL /22 network with DHCP (I believe that's `128.52.60.0/22`).

Even if the nodes are dual-connected, we're only configuring the first interface right now.

[2021-08-05 18:26] hakasapl commented on #327
Drive replaced

[2021-08-05 20:52] naved001 commented on #329
@larsks I have connected the oct3 nodes to csail vlan 10 (128.52.60.0/22). I have a test virtual machine (running on oVirt) `root@128.52.62.226` on that network, might be useful to test things.

btw, OCT3 nodes also only have a single interface.

I am working on the oct10 nodes, will update this ticket once those are connected.

[2021-08-06 01:21] naved001 commented on #329
one NIC of each OCT10 nodes are also on the CSAIL VLAN 10.

[2021-08-09 18:00] naved001 commented on #327
Recreated the OSD.

[code]

[2021-08-09 18:00] #327 closed

[2021-08-09 18:29] naved001 opened #330 "Failed ceph OSD (not the drive)"
OSD 253 is down. The backing drive seems okay.
This is the error I see:
[code]

I will open a redhat ticket before I zap this osd and recreate it.

[2021-08-09 22:03] pjd-nu commented on #330
Sounds like CRUSH thinks you have a new machine, but the same OSD ID:
- https://tracker.ceph.com/issues/24423
- https://github.com/rook/rook/issues/5041
How long does it take for things to stabilize after you zap a 14T disk? That's a 20 hour drain or fill time, and we've got the shutdown coming tomorrow.

[2021-08-11 15:25] naved001 commented on #309
Looks like switchports connected to the 2 computes now have connectivity! The restart probably helped. @ekaynar will check her nodes and let me know if work

[2021-08-11 17:14] naved001 opened #331 "MGHPCC: neu-17-5 not booting"
This is an openstack compute node.

It's stuck at the "Configuring Memory..." stage

![image](https://user-images.githubusercontent.com/20113064/129073505-83c7911c-3266-4770-8111-3aabc23c8fa5.png)

Some stuff that can be done is on this thread: https://www.dell.com/community/PowerEdge-Hardware-General/Dell-PowerEdge-R720-stuck-on-configuring-Memory/td-p/5046157

[2021-08-11 17:26] naved001 commented on #331
Looks like we ran into this issue and decided that it's not worth our time to try to fix this node.

Here's a slack conversation long ago:

[code]

[2021-08-11 17:26] #331 closed

[2021-08-11 20:00] larsks opened #332 "Reserving addresses on CSAIL 128.52.60.0/22 network?"
@naved001 who is our network contact at CSAIL? I'd like to know if there is a process for reserving addresses on the 128.52.60.0/22 network (e.g. for service VIP addresses). So far all the DHCP leases have been coming from 128.52.62.0/24, so I wonder if there is already a limited DHCP range and we can just use address outside of this range without needing to worry about DHCP conflicts.

[2021-08-11 20:19] larsks commented on #332
I've sent the following to the CSAIL support address:

[code]

[2021-08-11 21:24] larsks commented on #332
This request has been assigned id `CSAIL #189770`.

[2021-08-11 21:26] larsks commented on #332
@msd in their support autoresponse, CSAIL says:

Hopefully they will respond even without a CSAIL username because I don't think I have one.

[2021-08-12 01:15] naved001 commented on #332
Last time when I opened a ticket I got the same auto response. Someone (Garrett Wollman) responded after a while anyway.

[2021-08-12 12:20] larsks commented on #332
Garret responded with:

So it sounds like we're all set to grab static addresses from outside of that range.

[2021-08-12 14:35] larsks opened #333 "Validate configuration of new Dell hardware"
There was some confusions over whether the configuration of the Dell hardware we purchased to use as OpenShift control nodes matched our expectations.

According to information available via the iDRAC, this is what  is physically present:

| Node      | Physical processors | Cores per processor | Total cores | RAM    |
|-----------|---------------------|---------------------|-------------|--------

[2021-08-12 14:37] larsks commented on #333
I have disabled hyperthreading on oct-10-01 for now so that we have a consistent configuration on all the nodes.

[2021-08-12 17:50] naved001 commented on #333
![image](https://user-images.githubusercontent.com/20113064/129243647-47470d6d-6eaa-4322-9132-e380bd58dd40.png)

According to the pdf, we should have two 24-core processors, which is what we seem to have. I guess the right thing to do would be to enable hyperthreading on all hosts.

Re: memory
![image](https://user-images.githubusercontent.com/20113064/129244213-dc213832-1e21-4f0c-b81d-9d61b79551f

[2021-08-12 18:26] larsks commented on #333
In fact, according to https://docs.openshift.com/container-platform/4.7/scalability_and_performance/cnf-performance-addon-operator-for-low-latency-nodes.html#about_hyperthreading_for_low_latency_and_real_time_applications_cnf-master:

So enabling it seems to be the right choice.

[2021-08-13 18:37] naved001 commented on #332
Garrets response when I asked about if there's anything besides the DHCP range that CSAIL is using:

you want to avoid conflicts, I'd suggest that you start at .20 or
higher.  I can put PTR records in to reserve addresses you plan to
use.

I will update the network document with this information, and let CSAIL know what we plan to use.

[2021-08-17 13:10] msdisme opened #334 "Stuff MOC team needs to do for Migration of MOC to NERC for Openstack"
This is an initial Epic of the things we need to do for migration to be discussed in grooming.

[2021-08-17 15:37] msdisme opened #335 "Socializing deprecation plan with grad students."
info in #365

[2021-08-17 19:03] #325 closed

[2021-08-18 13:27] #279 closed

[2021-08-18 13:28] naved001 commented on #329
Set the MTU of the OCT3 nodes to default (MTU 1554 bytes, IP MTU 1500 bytes)

[2021-08-18 13:28] #329 closed

[2021-08-18 13:34] larsks commented on #322
This was resolved through some suggestions from redhat support.

[2021-08-18 13:34] #322 closed

[2021-08-18 13:43] naved001 opened #336 "Dual connections for OCT3 nodes"
We need to have dual connections on all OCT3 nodes.

@hakasapl what cables do we need to accomplish this? And is there space in the rack another switch for this?

[2021-08-18 13:45] naved001 commented on #308
looks like we want to configure the NICs on the OCT10 nodes like this:

NIC1: MTU 1500 for public internet
NIC2: MTU 9000 for storage

[2021-08-18 13:50] #333 closed

[2021-08-18 14:08] larsks opened #337 "Power supply problems on oct-03-06"
oct-03-06 is reported power supply problems and won't power up:

[code]

[2021-08-18 14:15] msdisme opened #338 "Document current API of the micro server to support On-Boarding as a service"
This card was done and an architectural document was shared to describe On-Boarding-As-A-Service.

Unfortunately, the original text of this message confuses OBAAS with Billing and Reporting.  Billing/Showback/Reporting is expected to be done using XDMod for OpenStack and OpenShift, which is the same tooling that NERC is currently using.

[2021-08-18 14:35] msdisme commented on #328
Depends on ability to get OCP working by aug 27th

[2021-08-18 14:42] msdisme opened #339 "Review list of OpenShift users on 3.x cluster"
- [x] #408
- [ ] Michael review

[2021-08-18 14:43] msdisme commented on #338
https://github.com/CCI-MOC/ops-docs/tree/master/specs is not a perfect fit

[2021-08-18 14:48] msdisme commented on #338
Kristi added rob to a  link share

[2021-08-18 14:56] #141 closed

[2021-08-18 15:29] hakasapl commented on #337
This node should be marked broken for now. The voltage going into the node is fine, but I will need to try to swap the PSU.

[2021-08-18 15:31] hakasapl commented on #336
The switch we'd need is a Dell s4048-ON in that rack, xbyte will have them ~2000.

For cables, 32x of https://www.fs.com/products/40141.html?attribute=1322&id=222612

We should have room in the rack

[2021-08-18 16:29] hakasapl commented on #336
And 2x of https://www.fs.com/products/40158.html?attribute=1684&id=197055 for uplink cables

[2021-08-18 16:30] hakasapl commented on #336
Do the switches need to be stacked? ie. are you planning on creating a LAG for one port on each switch for each server? Or can they remain logically seperate?

[2021-08-18 17:27] larsks commented on #336
I think they can remain logically separate. The second connection will be primarily to separate storage traffic off the public network.

[2021-08-18 18:25] msdisme commented on #338
Notes from NERC discussion: this sprint Rob Baron working on  Document Architectural options microservice vs. plugins for Openshift and ColdFront #338  - best way to connect him to NERC team?

- Billing and reporting for OpenShift and what we’re looking for w.r.t. NERC
- Scott, Wayne, Raminder, and (maybe) Charlie @ BU
- Can respond to initial thoughts via a shared doc then setup a time to meet

[2021-08-18 19:38] naved001 commented on #336
@msdisme there were a couple of boxes of cables (10G and 40G) in the BU office. We will have to figure out time to inventory that stuff before we buy more cables.

[2021-08-18 20:42] msdisme opened #340 "Banner on kaizen openstack about deprecation, fill out form"

[2021-08-19 02:14] larsks opened #341 "Disable pxe boot on solarflare cards in oct-3 rack"
Several of the nodes seem to get stuck attempting to pxe boot via their solarflare NICs. We should just disable PXE on all the oct-3 nodes, since we're not using it at the moment.

[2021-08-19 02:16] larsks commented on #341
The symptom is:

![Screenshot from 2021-08-18 22-16-21](https://user-images.githubusercontent.com/82622/129996945-f954600d-12e8-45c0-8a6f-5034b14f4b4e.png)

[2021-08-19 17:58] ekaynar commented on #309
Both nics on neu-15-28 and neu-15-32 are working fine.

[2021-08-20 19:21] naved001 opened #342 "MGHPCC: Install higher capacity drive in neu-17-12"
This node has 2 x120GB SSD. Openshift needs more than 120GB.

If we have any 300GB or 600 GB HDD, that should be sufficient. We can remove and keep those SSDs to use elsewhere.

[2021-08-23 01:36] msdisme commented on #339
@rob-baron please add list to ticket and reassign to msd

[2021-08-23 01:47] msdisme opened #343 "Order cables for oct 3"
For the new switch that we will add to OCT3

[2021-08-24 15:19] #305 closed

[2021-08-24 15:24] naved001 commented on #220
@knikolla is happy with the 2 CRC nodes so far (and CRC on VM in kaizen openstack).

[2021-08-25 16:53] msdisme commented on #328
I still need to include the other tickets- this was also a place to follow up on status this week to know if we think we can achieve this.

[2021-08-25 20:03] larsks opened #344 "Install nmstate operator on ocp-prod cluster"
We'll use the `nmstate` operator to manage network configuration on
the ocp-prod nodes.

[2021-08-25 20:06] larsks opened #345 "Attach ocp-prod nodes to storage network"
Submit the necessary `nmstate` configuration to add an interface on
the Ceph storage network to all `ocp-prod` nodes. We can use the model
I use with the zero cluster ([here](https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/zero/nodenetworkconfigurationpolicies/moc-nfs-network.yaml)) to handle differences in interface names between nodes.

That solution requires th

[2021-08-25 20:11] larsks opened #346 "Configure OCS in external mode"
Install the OCS operator and configure it to use the external Ceph
cluster.

See "[Connecting OpenShift to an External Ceph Cluster][ocsext]" for
some thoughts on setting permissions for Ceph auth principals.

[ocsext]: https://blog.oddbit.com/post/2021-08-23-external-ocs/

When you run the `ceph-external-cluster-details-exporter.poy` script,
consider not specifying an RGW endpoint. It's probably

[2021-08-25 20:19] larsks opened #347 "Connect ocp-prod cluster to MOC SSO services"
Connect ocp-prod to the SSO servers so that people can authenticate.

As part of this, we need to disable the ability to self-provision
projects on the cluster. People will get privileges to specific
projects when those projects are created (by us, or via the onboarding
system, etc).

[2021-08-25 20:20] larsks opened #348 "Create cluster-admins group for cluster management without using kubeadmin user"
We should be using individual accounts when connecting to the cluster,
rather than the shared `kubeadmin` user. Create a cluster-admins group
and necessary cluster rolebindings to grant members of the MOC ops
team administrative access to the cluster.

[2021-08-25 20:27] larsks opened #349 "Configure TLS certificate for default ingress lb"
The default ingress loadbalancer is using a self-signed certificate.
We should replace this with a LetsEncrypt certificate to avoid browser
errors.

[2021-08-25 21:04] larsks opened #350 "Decide how we will handle onboarding to the ocp-prod cluster"
How will we handle onboarding to the ocp-prod openshift cluster in the
short term? In the long term?

- Will we manually create projects/rolebindings/etc via the
  [moc-apps][] repository?

- Will the onboarding system provision projects and manage group
  membership?

- Something else?  Is Coldfront in our future?

[moc-apps]: https://github.com/CCI-MOC/moc-apps

[2021-08-25 21:08] larsks opened #351 "Configure default project quotas"
While we will ultimately want to support per-project quotas, we should
also consider implement default project quotas e.g. as described in
"[Customizing OpenShift project creation](https://developers.redhat.com/blog/2020/02/05/customizing-openshift-project-creation#)".

This will prevent a broken project from erroneously consuming too many
resources just because we forgot to assign a quota.

[2021-08-25 21:19] larsks opened #352 "Configure alert receivers for ocp-prod"
We should arrange for alerts to go somewhere other than the ocp-prod
console UI. According to [the documentation][], the following
receivers are available out of the box:

- PagerDuty
- Webhook
- Email
- Slack

Operate First uses a [custom receiver][] to create issues in a GitHub
repository in response to alerts.

How do we want to handle alerts? Something that might be minimally
disruptive would

[2021-08-25 22:51] larsks opened #353 "Configure CI for moc-apps repository"
Run linters and `kustomize build` tests on every pull request to avoid
problems.

[2021-08-25 22:59] larsks opened #354 "Enable branch protections on moc-apps repository"
Configure branch rules for the [moc-apps][] repository:

- PR approvals and passing checks before merging.

  Prevent code from merging before it has been approved by at least
  one person, and require all status checks (e.g. in cci-moc/moc-apps#2) to pass
  before the code can be merged.

- Allow automatic merging after all conditions are satisfied.

  If a pull request has the required number of

[2021-08-26 00:46] larsks opened #355 "Create subdomain on route53 for handling ACME DNS-01 challenges"
LetsEncrypt [DNS-01][] challenges require an API for populating (and
removing) DNS records. If our primary DNS service doesn't have a
supported API (which it doesn't), we can delegate challenges to
another domain as described in "[DNS alias mode][]".

We could to this by hosting our own API-capable server (e.g.,
[acme-dns][]), or we can just make use of a hosted service.

Since we're already talki

[2021-08-26 13:49] #353 closed, assigned to larsks

[2021-08-26 13:53] #354 closed, assigned to larsks

[2021-08-26 14:18] larsks opened #356 "Install cert-manager on ocp-prod"
Install the `cert-manager` operator on ocp-prod to manage SSL
certificate generation.

[2021-08-26 14:39] #355 closed, assigned to larsks

[2021-08-26 18:28] #344 closed, assigned to naved001

[2021-08-26 18:30] larsks opened #357 "Disable self-provisioning for ocp-prod users"
By default, OpenShift is configured to allow anyone who can authenticate the ability to create new projects and resources. We want to control project creation ourselves (either manually or via onboarding).

[2021-08-26 18:34] naved001 opened #358 "ceph monitors are unable to receive updates"
investigate what's wrong and fix it.

[2021-08-26 18:49] #345 closed, assigned to naved001

[2021-08-26 19:10] larsks opened #359 "Import operator subscriptions into repository"
We've been installing operators via the operator hub, but we should
really be managing this via argocd. Let's import existing operator
subscriptions into the moc-apps repository.

[2021-08-26 19:19] #356 closed, assigned to larsks

[2021-08-26 19:39] #348 closed, assigned to naved001

[2021-08-26 20:15] larsks opened #360 "Configure letsencrypt certificate issuer"
Configure cert-manager with a LetsEncrypt certificate issuer that can
respond to dns-01 challenges and handle hostnames in the
ocp-prod.massopen.cloud domain.

[2021-08-26 20:18] larsks opened #361 "Install External Secrets controller"
We need a mechanism for getting secrets into ocp-prod that doesn't require us to store them in our git repositories. One option is [external-secrets][], which integrates with Hashicorp [Vault][] or the AWS [SecretsManager][] service.

[external-secrets]: https://github.com/external-secrets/kubernetes-external-secrets
[vault]: https://www.vaultproject.io/
[secretsmanager]: https://aws.amazon.com/se

[2021-08-26 21:40] #357 closed, assigned to nobody

[2021-08-26 21:43] #346 closed, assigned to naved001

[2021-08-27 00:06] #360 closed, assigned to nobody

[2021-08-27 00:06] #349 closed, assigned to naved001

[2021-08-27 14:53] #361 closed, assigned to nobody

[2021-08-27 21:32] #347 closed, assigned to knikolla, naved001

[2021-08-30 14:17] naved001 commented on #309
I tested neu-15-33 and neu-15-26, and both nics on both nodes worked.

[2021-08-30 14:17] #309 closed

[2021-08-30 15:30] naved001 commented on #342
cool, idrac confirms that. Thanks!

[2021-08-30 15:30] #342 closed

[2021-08-30 15:49] knikolla commented on #350
I can either work on connecting ColdFront to the OpenShift-Acct-Mgt microservice (which should take me a couple of days) or I can reconfigure Adjutant and the onboarding dashboard. The former is more future-proof and is work that we'd have to do anyway.

[2021-08-30 15:57] rob-baron commented on #350
kristi, it is only more future-proof if we decide to go that direction.  My magic-8 ball says yes as this would be the easiest way to meet all of my foreseen requirements.

[2021-08-30 15:58] knikolla commented on #350
It is future-proof in that that is the way the NERC is moving forward and what they are investing our resources in vs Adjutant.

[2021-08-30 16:03] knikolla commented on #350
Not Lars, but I can discuss about this wrt how we're implementing this is NERC.

No, people will use the ColdFront dashboard to manage users and resource allocations.

We don't have any plans to support this for creation of users. Note, people can still use git-ops to create resources that they're able to and own within their namespace/project, such as pods, services, deployments, etc.

No

No

No

[2021-08-30 16:11] rob-baron commented on #350
In my thinking, I consider git-ops, adjutant and coldfront to be competing front ends for creating users and projects on services.

I would prefer to say to people developing services that they provide an endpoint and hook into and use services that we are doing anyways.  This way we can add their service in a relatively transparent way but also have a clear separation of responsibilities and bill

[2021-08-31 11:17] larsks opened #362 "Create external secret for SSO"
Make sure we have an external secret resource for the
`moc-sso-client-secret` secret used for the SSO configuration.

[2021-08-31 13:08] msdisme commented on #338
https://docs.google.com/document/d/1JoHY88HR-hcvdFEUAwROxvIJyOddGxjuZdeG_Q-v4lk/edit#heading=h.debi4olqvaif

[2021-08-31 15:00] #308 closed

[2021-08-31 15:10] msdisme commented on #339
@rob-baron I need the list in the ticket,

[2021-08-31 15:37] msdisme commented on #326
Mail sent to Morgan

[2021-08-31 18:44] #324 closed

[2021-08-31 20:20] rob-baron commented on #339
Ok, kaizen openshift users:

NAME                                    UID                                    FULL NAME                            IDENTITIES
205matan@gmail.com                      3674bf6d-aa4f-11e9-9565-fa163e917d49   Matan Kotler-Berkowitz               sso_auth:205matan@gmail.com
JColley1@StateStreet.com                26939804-faab-11ea-a40b-fa163e917d49   James Colley

[2021-08-31 20:21] rob-baron commented on #339
P9-openshift users:

NAME                                    UID                                    FULL NAME                       IDENTITIES
205matan@gmail.com                      40383de7-f68d-11ea-bf02-0894ef8018e1   Matan Kotler-Berkowitz          sso_auth:205matan@gmail.com
HAL9000                                 4094d8ec-f68d-11ea-bf02-0894ef8018e1   Rob Baron (gmail)               sso_aut

[2021-08-31 20:48] rob-baron commented on #339
user lists:

[2021-09-01 13:05] naved001 opened #363 "Install metallb on ocp-prod"
did it once here: https://gitlab.com/naved001/moc-cnv-sandbox/-/tree/moc-ocp/roles/ocp/metallb

need to do it with argocd.

[2021-09-01 13:07] naved001 opened #364 "Enable GPU support on ocp-prod"
I have provisioned GPU node (neu-17-12) into the cluster.

Need to install the NodeFeatureDiscovery operator and GPU operator.

[2021-09-01 13:45] naved001 commented on #343
I will go to BU and sort all the 10G cables we have and put them in a box.

[2021-09-01 13:50] naved001 commented on #237
power cycling the switch (during the mghpcc shutdown) has fixed it.

[2021-09-01 13:50] #237 closed

[2021-09-01 14:00] msdisme opened #365 "Review/Decide hardware to deprecate and create a "map" of locations"

[2021-09-01 17:20] msdisme opened #366 "Update Kaizen OpenStack Message"
Please put up this message: The Mass Open Cloud will no longer be supporting OpenStack VMs.  Please fill out this survey if you are interested in your VMs migrating to the NERC.

The link for the word survey is: https://docs.google.com/forms/d/e/1FAIpQLSch4Cv8IO_frA-J2TBYpTS4S-QoX9SX0zKVzE5_JEyluXexkw/viewform?usp=sf_link

[2021-09-07 15:33] larsks opened #367 "Create private repository for managing class groups/projects"
We will be bringing students onto the ocp-prod cluster in the next week or so. We need a mechanism for managing projects and group memberships in the absence of some sort of integrated onboarding system.

We can create a private github repository and connect that up to ArgoCD to allow TAs to manage user/project creation via a pull-request workflow.

[2021-09-07 16:54] larsks opened #368 "Replace certificate on moc-infra cluster"
The certificate on the moc-infra cluster has expired, which has
renders the cluster unusable; it's not possible to authenticate using
the web ui.

I'm manually replacing the certificate, and
https://github.com/operate-first/SRE/issues/374 is a task to automate
certificate management with cert-manager.

[2021-09-07 16:55] larsks commented on #368
I was able to (a) recover the kubeadmin password from the cluster provisioning host and then (b) use that to interact with the API to update the certificate.

While at it, I reconfigured DNS so that we can use challenege alias domains hosted by Route53, which we'll need when moving to cert-manager.

[2021-09-07 16:56] larsks commented on #368
OPF folks confirm that are able to log into the cluster.

[2021-09-07 17:40] larsks commented on #368
We have the same issue on zero cluster.

[2021-09-07 19:57] #362 closed

[2021-09-08 18:37] larsks commented on #366
I think we should be able to do this by replacing the existing Horizon image with a modified version. This may require manually restarting the Horizon containers (e.g., if we were to run a full re-deploy we would lose our changes), but it is otherwise reasonably risk free.

[2021-09-09 13:49] naved001 opened #369 "zabbix certs expired"
letsencrypt won't issue new certs for the same domain because it is rate limited.

[2021-09-09 14:10] larsks commented on #369
Documentation on Let's Encrypt rate limit is [here](https://letsencrypt.org/docs/rate-limits/).

[2021-09-09 14:32] naved001 opened #370 "Brocade switch at 15-43 is unreachable"
1 ovirt host (ov1), one openstack compute, various openstak computes, a production ceph OSD server, and some research ceph nodes are all down.

[code]

Need to find out if we have a serial connection to it at all.

@msdisme may need an assist from Keving at MGHPCC on this one, unless @hakasapl is at the data center today or is planning to go soon.

[2021-09-09 17:17] naved001 commented on #370
@msdisme looks like we have serial connection from the last time that switch failed.

[2021-09-09 17:35] naved001 commented on #370
It's fixed.

The other switches in the fabric did not detect the problem switch. I logged into the the problem switch via the serial console and it seemed to be up and running (no weird fs corruption that has happened in the past), it just couldn't reach any of the other switches.

So I power cycled the switch, and now it has joined the fabric and everything is online.

[2021-09-09 17:36] naved001 opened #371 "document all serial connections to our switches"
~~SSIA~~

document which node and serial port has a connection to which switch.

[2021-09-09 18:09] larsks opened #372 "Purchase a serial port concentrator?"
Let's put a serial port concentrator in place in MGHPCC and connect it to the console ports on all our switches. Options:

- https://www.cdw.com/product/Digi-ConnectPort-LTS-16-terminal-server/2312258
- https://www.cdw.com/product/comtrol-devicemaster-rts-16-port-rj45-rm-rohs/1070864?pfm=srh
- https://www.cdw.com/product/black-box-16-port-serial-over-ip-gigabit-console-server-cisco-compatible/3747

[2021-09-09 18:10] larsks commented on #371
Or instead https://github.com/CCI-MOC/ops-issues/issues/372

[2021-09-10 14:15] msdisme opened #373 "Early access to OCP 4 cluster for Jonathan Appavoo"
As a professor I'd like to be able to access the MOC cluster a bit before the general availability on the 20th so that I may set up things for my course.

As an MOC operations person I would like to provide that access in a way that is consistent with the approach we are taking for all the students on the 20th so that I am not creating extra work.

Slack Exchange:
[code]

[2021-09-10 14:27] naved001 opened #374 "more brocade networking issues"
One of the cache server's NIC detects link but there's no traffic. it's connected to the switch that had failed but was fixed yesterday.

I also notices a number of InterSwitch links in the brocade fabric are not connected. Missing links are between rbr-2 <-> rbr-5 and
rbr-7 <-> rbr-8.

[2021-09-10 15:14] jappavoo commented on #373
Thanks so much.  My GitHub id is jappavoo

[2021-09-10 15:18] naved001 opened #375 "identify machine to install tpm 2.0 chip in it"
This is to test keylime/ESI.

[2021-09-10 18:26] larsks commented on #367
I have a better idea, because I don't think we want folks writing Kubernetes manifests directly.

## Part 1: A repository for describing projects

The [moc-openshift-users](https://github.com/CCI-MOC/moc-openshift-projects) repository contains projects descriptions in the [`projects/`](https://github.com/CCI-MOC/moc-openshift-projects/tree/master/projects) directory. The names of these files are p

[2021-09-10 18:46] naved001 commented on #370
well, some of its switchports seem to be stopped working again. @ekaynar has a cache server attached to a 40g port that's not working.

[2021-09-13 13:33] naved001 commented on #370
closing this in favor of #374

[2021-09-13 13:33] #370 closed

[2021-09-13 13:34] naved001 commented on #374
I have disabled the compute nodes attached to this switch migrated the VMs from those, so we no user workloads on these hosts.,

[2021-09-13 15:18] larsks opened #376 "Configure NFS vlan on smaug nodes"
In order to provide persistent storage to the smaug cluster, absent any communication from NESE, we need to connect it to the truenas NFS server . The affected nodes are:

- oct-03-00-compute
- oct-03-01-compute
- oct-03-03-compute
- oct-03-04-compute
- oct-03-07-compute
- oct-03-08-compute
- oct-03-09-compute
- oct-03-10-compute
- oct-03-11-compute
- oct-03-12-compute
- oct-03-13-compute
- oct-03

[2021-09-13 15:31] larsks commented on #373
This depends on https://github.com/CCI-MOC/moc-apps/pull/41

[2021-09-13 15:55] naved001 commented on #376
NFS VLAN 210 is now tagged to the same interface that has public VLAN.

OCT3 nodes only have a single NIC, so I had to tag the NFS VLAN.

OCT10 nodes do have an additional NIC, let me know if you want to put VLAN 210 untagged on the other nic, instead of having it tagged with the first one.

[2021-09-13 18:46] ekaynar commented on #374
This also impacts the cache server neu-15-41. Cache server neu-15-41 has a nic that is connected to this switch, and I cannot use the second nic on the cache server right now. This issue prevents us to run experiments using the cache server. I think we should either connect this server to another switch or try to fix the switch issue.

[2021-09-14 15:25] #368 closed

[2021-09-14 15:56] msdisme opened #377 "Post MOC shutdown, pre class start report on Projects people restarted"
For this list - identify

from openstack:
- [ ] list of active vm's/projects
- [ ] network Floating IPs(projs)and which are being used
- [ ] total number of users
- [ ] total number of projs
- [ ] users/per proj
- [ ] cpus per flavor
- [ ] how much actual cpu/memory overcommit
- [ ] quota for amount total and in use (from projs)
        - [ ] memory
        - [ ] disk

Can't get % actively being u

[2021-09-14 19:29] msdisme commented on #312
as per Hakan OCT 3, 5 or 6. Expansion for operate first into 5 - DPU's there

[2021-09-14 19:51] #367 closed

[2021-09-15 13:26] larsks commented on #373
@jappavoo take a look at https://github.com/CCI-MOC/moc-openshift-projects, which is our interim solution for letting you (and other folks) add projects and users to the openshift cluster. The model is you fork that repository, makes changes as described in the README, and then submit a pull request. Once the PR is approved, the changes should go live on the cluster in a couple of minutes.

Let's

[2021-09-15 13:37] larsks commented on #351
We don't need default project quotas given our new project creation solution.

[2021-09-15 13:37] #351 closed

[2021-09-15 15:16] jappavoo commented on #373
Thanks so much I will try things out tomorrow.

                                            Jonathan
                                                  Appavoo

[2021-09-15 21:28] naved001 commented on #343
Here's the inventory of cables.

https://docs.google.com/spreadsheets/d/1cluTx91eAQvRnrxwAJKyYO0J_bKcvhtq29SEMr-bgJc/edit#gid=0

[2021-09-16 14:55] naved001 commented on #374
The brocade switch at 15-43 had failed again yesterday. None of its interfaces were working so it was isolated in the fabric, I could only login via the serial console.

As a last ditch effort, I decided to reinstall the firmware this morning.

After the firmware reinstall, the switch did not join the fabric. I ran `show fabric islports` where I noticed this error
[code]

which then led me to this

[2021-09-16 15:04] naved001 commented on #374
rbr-7 <-> rbr-8.

Link between rbr2 and rbr5 got fixed after the switch firmware was reinstalled.
And then I redid the configuration for the link between rbr7 and rbr8, and now it's reported as connected.

[2021-09-16 18:01] larsks opened #378 "Configure NESE vlan on smaug nodes"
Hakan has started configuring the networking that will attach the
Smaug cluster to NESE. We need to attach VLAN 211 to the smaug worker
nodes (see #376), but ideally this will wait until #336 is complete so
that we can use the second interface on these systems.

[2021-09-16 18:29] #366 closed

[2021-09-16 18:58] larsks commented on #366
@msdisme message is up at https://kaizen.massopen.cloud/

[2021-09-16 19:34] larsks commented on #366
@msd The survey is titled "Mass Open Cloud User Survey - Spring 2020"; that probably needs updating.

[2021-09-16 20:19] larsks commented on #373
@jappavoo just checking to see if you've had the chance to look at this yet? We would really like to know if it meets your needs while there's still time left in the week to make any necessary changes.

[2021-09-17 01:53] jappavoo commented on #373
So sorry the day got away on me.   I will try to get you some feed back tomorrow.

Sent from my iPhone

[2021-09-17 12:24] jappavoo commented on #373
Created my PR

[2021-09-17 15:02] naved001 commented on #314
@msd: I spent more time at PRB with @rob-baron and could not find the switch at BU in any of our offices or the lab.

[2021-09-17 15:16] naved001 opened #379 "MGHPCC: Replace Brocade switch in NEU cages at 15-43"
We have tried rebooting and reflashing the firmware, but all switchports stop working after a few hours of reboot.

We can get our replacement switch from engage1 (BU Row 4 Pod A, cage 2 and cage 4)

Here are all the switches in the engage1 brocade fabric

[code]
Rbirdges lower than 100 are in MIT cages. @msdisme if they have taken those off, then we could use those switches. If not, continue read

[2021-09-17 15:18] larsks opened #380 "Validate kaizen STONITH configuration"
It looks like the pacemaker STONITH  configuration on the kaizen
controllers is incorrect, which prevents Pacemaker from correctly
recovering from controller outages.

[2021-09-17 15:21] naved001 commented on #379
Impact of this switch being down:

1. One openstack controller
2. One oVirt Controller
3. One cache server
4. One Ceph OSD server
5. Five openstack computes
6. one 40G connection to OCT. The other one on 15-42 is currently operational.
7. ten HIL/BMI nodes

[2021-09-17 15:51] larsks opened #381 "Kaizen OpenStack Offline"
Kaizen OpenStack is offline; the root cause is probably the bad
switch. The symptoms are that the database cluster won't start up. It
looks very much like https://access.redhat.com/solutions/5981551. I'm
working on the recovery right now and I will update this ticket when I
have new information.

[2021-09-17 16:00] pjd-nu commented on #379
If there's anything I can do to accelerate getting this fixed, please let me know. Up to and possibly including driving to Holyoke. (and if necessary picking up a switch on the way - an eBay seller in NH has one with local pickup available)

And I apologize that we (Orran and I) have put you folks in the position of maintaining ancient gear that's starting to fail - we probably should have priorit

[2021-09-17 16:05] larsks opened #382 "Should we replace all out-of-warranty switches with new hardware"
From #379, @pjd-nu commented:

What we might want to consider moving forward is ensuring that the
core network infrastructure is all running on under-warranty equipment
with support contracts in place. When one compute node out of 50 fails
in an openstack or openshift cluster that's no problem, but switch
failures having a much bigger blast readiusradius.

[2021-09-17 16:37] larsks commented on #381
@naved001  @msdisme  I've opened a sev 2 support case, https://access.redhat.com/support/cases/#/case/03036706. It looks like https://access.redhat.com/solutions/5981551 but the solution in that article doesn't  seem to work.

[2021-09-17 17:37] naved001 commented on #161
I am going to bump this up on the backlog now.

[2021-09-17 17:57] naved001 commented on #379
I emailed Morgan from techsquare who informed me that they have some brocades already pulled out of the MIT cages. @hakasapl will replace the switch on Tuesday then.

[2021-09-17 19:31] jappavoo commented on #373
At this point my goal was trying to  blindly followed these instructions

https://github.com/jupyter-on-openshift/jupyterhub-quickstart

to see if I could get a min jupyterhub service running and was then going to customize with my particular containers.

However my first attempted failed and I need to cleanup after myself and then try again ... I think for some reason my database instance is not

[2021-09-17 19:54] larsks commented on #373
Ah, well, this may be related to the fact that we're still working on getting persistent storage configured. That should be ready by Monday.

[2021-09-17 19:59] jappavoo commented on #373
Good to know!   Thanks.   Will focus on other aspects over the weekend

[2021-09-17 20:52] larsks commented on #381
While Red Hat support has stated that "Galera won't start with 2 controllers for the data consistency reasons", I have gone ahead and manually recovered the Galera cluster in a two-node configuration. It is no longer under the control of Pacemaker, but that was apparently of questionable usefulness in the first place.

We should be in okay shape as long as their are no power outages over the weeke

[2021-09-18 17:18] naved001 commented on #369
Renewed the certs and setup certbot to run daily.

[2021-09-18 17:18] #369 closed

[2021-09-20 19:16] naved001 commented on #379
@hakasapl I am documenting how the switchports are connected.

Currently there's a serial cable between the node at neu-15-12 and the problem brocade-15-43. If you connect that serial cable to the replacement switch then I can start flashing the firmware while the rest of the connections are made.

Port 43 of the IPMI (1G) switch at 15-44 connects to the management interface of brocade-15-43.

And

[2021-09-21 13:14] larsks commented on #373
@jappavoo due to a terrible case of the Fridays I gave you bad information; I was thinking of the operate first cluster when I left the last comment. There are in fact no problems with storage on the MOC production cluster. If you're running into general problems I'm happy to take a look; if you're running into issues that require deeper knowledge of something like Jupyterhub then we'll probably n

[2021-09-21 13:52] larsks commented on #378
This is effectively blocked on https://github.com/operate-first/SRE/issues/386, since presumably we'll encounter the same problems trying to configure networking for NESE access.

[2021-09-21 13:53] larsks commented on #376
The NFS vlan is available on all smaug nodes but we've been unable to get NFS access working. Further details in https://github.com/operate-first/SRE/issues/386.

[2021-09-21 13:53] #376 closed

[2021-09-21 13:58] larsks commented on #350
We have a temporary solution in place pending the development of a more complete onboarding solution.

[2021-09-21 13:58] #350 closed

[2021-09-21 14:11] naved001 commented on #378
why don't we have this networking problem on the ocp-prod cluster then?

[2021-09-21 14:25] naved001 commented on #343
@hakasapl @msdisme pinging you guys so you can take a look at this and we can plan how to ship the cables that we have at BU.

[2021-09-21 14:26] #359 closed

[2021-09-21 15:21] larsks opened #383 "Create a simple "getting started w/ openshift" doc"
We should probably have some sort of "how to openshift" document for
incoming classes -- or at least links to existing documentation, if
e.g. red hat already has something.

[2021-09-21 15:26] #239 closed

[2021-09-21 15:34] larsks commented on #335
Dupe of #365

[2021-09-21 16:15] pjd-nu commented on #343
If you need, I can eBay some more cables and have them delivered to Holyoke.

On Sep 21, 2021, at 10:25 AM, Naved Ansari ***@***.******@***.***>> wrote:

@hakasapl<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fhakasapl&data=04%7C01%7Cp.desnoyers%40northeastern.edu%7Cf551263d0f584614326c08d97d0bb8a2%7Ca8eec281aaa34daeac9b9a398b9215e7%7C0%7C0%7C637678311564398312%7CU

[2021-09-21 16:52] naved001 commented on #343
@pjd-nu we haven't placed the order for the switch yet, so getting the cables delivered won't impact the overall timing.
@msdisme I am planning to meet @hakasapl this weekend since he'll be near Boston so he can pick up the cables.

[2021-09-21 19:21] larsks commented on #336
Link to spreadsheet with cable information:

https://docs.google.com/spreadsheets/d/1cluTx91eAQvRnrxwAJKyYO0J_bKcvhtq29SEMr-bgJc/edit#gid=0

[2021-09-21 19:21] larsks commented on #343
Closed as a dupe of #336

[2021-09-21 19:21] #343 closed

[2021-09-21 19:24] msdisme commented on #336
Order for OCT 3 nodes for dual connections:
1 - Dell 4048-ON
1 - Dell S5048-ON
@hakasapl - adding

Details:
OCT 3 Operate First SMAUG Cluster
Dell 4048-ON switch *10 and 40
Cables coming from pick up this weekend
OCT 4 ESI HW -
Cables from pick up this weekend
OCT 5 is expansion rack SMAUG - DPU’s going there, GPU’s there
Dell S5048F-ON 10 - 25 and 50
Will need to order cables  - @Hakan to tell us

[2021-09-21 19:29] msdisme opened #384 "Order Cables for OCT 5 and 6 and Switch for OCT 6 to enable dual connections"
OCT 5 cables only - @hakasapl  to tell us how many needed
OCT 6 Operate First or MOC OpenShift - 38 r730’s -
Dell S5048F-ON in the future -
Cables base don @hakasapl  feedback

[2021-09-21 21:12] jappavoo commented on #373
Thanks for letting me know.  With any luck I will try and look at this again tomorrow then and see if I can figure out what is happening.

[2021-09-21 22:35] naved001 commented on #379
This is resolved now; this is what we did:

1. Replaced the physical switch and hooked up a serial cable to the replacement switch
2. Installed NOS 7.0.2  on the switch (all switches in the brocade fabric must be running the same firmware).
3. Once I was able to login to the newly installed switch (still over serial connection), note down the `WWN` of the new switch by running `show vcs`.
4. On th

[2021-09-21 22:35] #379 closed

[2021-09-21 22:41] naved001 commented on #374
Looks like all ISL are up.

One compute node (15-36) has connectivity issues. looking into that before I close this issue.

[2021-09-21 23:20] naved001 commented on #374
neu-15-36, which is a compute node, is exhibiting symptoms described here https://github.com/CCI-MOC/ops-issues/issues/309
i.e. ethtool and the switch both report connectivity, but there's no traffic :/

I have reconfigured the switchport but the problem persists. I hope this switch is also not going bad.

[2021-09-23 18:50] #265 closed

[2021-09-24 13:32] naved001 commented on #358
This was due to them not being able to reach our repo server. After we fixed the firewall, those servers can connect to the repo server.

[2021-09-24 13:32] #358 closed

[2021-09-24 13:54] larsks commented on #378
The problem crops up on smaug because the CSI controller is running inside a pod network namespace and attempting to connect to the REST API on the truenas server.

I suspect that the Ceph client bits are all running in the host network namespace on ocp-prod (which is the same for the actual NFS bits on smaug).

[2021-09-24 14:57] naved001 commented on #375
From what I can tell Dell R620 and R720 definitely don't support tpm 2.0 chip.

The [manual for r730](https://www.dell.com/support/manuals/en-us/poweredge-r730xd/r730xd_ompublication/initializing-the-tpm-for-txt-users?guid=guid-3d7e4a48-7004-48e0-9c9e-5e684c2e9e13&lang=en-us) does not talk about TPM2.0 ([the manual](https://www.dell.com/support/manuals/en-us/poweredge-r740/per740_ism_pub/initializ

[2021-09-24 15:21] msdisme commented on #375
ok, also look at the new batch coming which will be arriving next week

[2021-09-24 15:57] msdisme commented on #375
TPM tests, I am assuming the testing is planned for OCT 4 rack which is the ESI focused rack.  In there are R620's, R720's, R720xds, R730xd’s.  I'll ask specifically about them.  Also in there are the Intel systems.  If none of the Dell's support TPM 2 would it make our lives any easier to see if the Dell\s do?

[2021-09-24 16:00] msdisme commented on #375
How about this one:https://www.newegg.com/p/1WK-0025-007A7
(_me pauses on mail to dell_)

[2021-09-24 18:28] naved001 commented on #375
This says it's a TPM 2 chip and is compatible with dell r730 (and we have r730xd in OCT4 rack). If that's true then that is what we may need. Since it's only $20 we could order one to test it ourselves if we can't get a confirmation from dell.

[2021-09-24 18:46] naved001 commented on #375
I am sorry I don't understand all the details here.

Anyway, I looked at the intel servers we have. We have model no. `S2600WTT`, and according to [this intel document](https://www.intel.com/content/www/us/en/support/articles/000017015/server-products/server-boards.html), model `S2600WT` (one less `T`, don't know if that's significant) supports TPM2. Specifically links to this TPM module https://a

[2021-09-25 18:54] naved001 commented on #343
I handed over most cables, some intel SSDs, and 2 juniper 1gig switches to Hakan today. These will be put in the MOC cage at MGHPCC since we are now not limited to a single red box in bu cage.

[This is the link](https://docs.google.com/spreadsheets/d/1cluTx91eAQvRnrxwAJKyYO0J_bKcvhtq29SEMr-bgJc/edit#gid=0) to the inventory, @hakasapl can double check that.

cc: @msdisme

[2021-09-27 13:18] naved001 opened #385 "MGHPCC: Connect neu-15-36 to different switchports"
neu-15-36 is connected to port 31 and 32, and both of those are not functional.

@hakasapl can we move them to switchports 9 and 10 on the same switch.

[2021-09-27 13:19] naved001 commented on #374
Closing this in favor of #385

[2021-09-27 13:19] #374 closed

[2021-09-27 13:21] naved001 commented on #364
currently blocked on argocd update which lets us deploy resources from private repositories. @larsks do we know when that will be done?

[2021-09-27 15:02] larsks commented on #364
@naved001 we are hoping to get that done this week.

[2021-09-28 15:16] #381 closed

[2021-09-28 15:26] naved001 opened #386 "Notify OCP 3.11 users about moving themselves to NERC"
Send out an email asking ocp3.11 users if they are still interested in having an openshift project and would they like to migrate to ocp4.

Related to https://github.com/CCI-MOC/ops-issues/issues/339
- [x] #558
- [x] #420
- [x] #421

[2021-09-28 15:28] #323 closed

[2021-09-28 15:29] msdisme opened #387 "Decision about how to wipe and certify wayfair drives"
DOD level 7, contractor identified

[2021-09-28 15:30] #318 closed

[2021-09-28 15:31] #314 closed

[2021-09-28 15:31] msdisme opened #388 "Identify movers for HW donation"
Decision on movers, identify prior mover etc.

[2021-09-28 18:54] msdisme opened #389 "osticket connection to maill.massopen.cloud timing out"
Error message in ticket:https://support.massopen.cloud/scp/tickets.php?id=1016

This is the mail system at host mail2.dl.supportsystem.com.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients. It's attached below.

For further assistance, please send mail to postmaster.

If you do so, please include this problem report. You can
delete your own text f

[2021-09-28 20:58] larsks commented on #378
We need to figure how we're going to handle ip address assignment on this network. It looks like we're going to want to run our own DHCP server, since the underlying network infrastructure doesn't appear to have that capability.

[2021-09-28 21:02] larsks opened #390 "Connect Smaug cluster to NESE Ceph storage"
We need to connect the operate-first Smaug cluster to NESE Ceph
storage.

This depends on #378 (which is waiting on us to figure out ip
address allocation).

[2021-09-28 21:02] larsks commented on #390
Original email to the NESE folks:

[code]

[2021-09-28 21:04] larsks commented on #390
@naved001 and I hung out with Milan during office hours today while getting things configured. Milan has created an RBD pool for us and a single Ceph principal to use for testing. We initially encountered a network problem; something in the path between our test machine and the Ceph servers was clamping the MTU to 1500 bytes.

@hakasapl was able to identify and correct the problematic configuratio

[2021-09-28 21:05] larsks commented on #390
Email to NESE folks today:

[code]

[2021-09-28 21:17] larsks commented on #389
The EC2 instance that hosts the mail server was shut down. In the logs, we see:

[code]

This typically indicates the shut down was requested via the API (or via the web UI). Unfortunately, we don't have any sort of audit trail to identify the source of the request.

I was able to boot the instance without errors and it seems to be functioning normally.

[2021-09-28 21:20] larsks commented on #389
I have temporarily enabled a cloudtrail log (https://console.aws.amazon.com/cloudtrail/home?region=us-east-1#/trails) to see what sort of data that captures. I *think* our usage of cloudtrail is covered by the free tier, although it stores logs in S3 which will result in some charges.

I'll revisit the log in a week to see what sort of data it collects and get a sense of how much data it generates

[2021-09-28 21:21] larsks commented on #389
Closing this issue for now since the mail server is back up.

[2021-09-28 21:21] #389 closed

[2021-09-28 21:48] larsks commented on #390
Milan replies:

[code]

[2021-09-29 00:59] msdisme opened #391 "Process to make 1000 pods available for a cloud course project"
One of the OpenShift teams wants to use appx. 1000 pods. Need to discuss with Naved/Lars how to do this - we will likely need to move some worker nodes over and will be affected by number of pods per node. This will likely take us a few weeks to get in place.

More details below:

For our project, we were wondering what kind of burst usage of Openshift pods might be available to us?

Our project d

[2021-09-29 03:36] larsks commented on #391
That's an unanswerable question without knowing the per-pod resource requirements. How much memory do they require? What sort of network bandwidth does this generate? Is the workload CPU intensive?

[2021-09-29 13:22] #373 closed

[2021-09-29 13:27] larsks opened #392 "Correct Kaizen database configuration"
We need to undo the workaround put in place to resolve #381. We left the database unmanaged by Pacemaker; now that the third node is back online we should be able to restore the cluster configuration.

[2021-09-29 13:40] naved001 opened #393 "CNV operator on ocp-prod openshift cluster"
Consider deploying the CNV operator if we really have people asking for VMs.

[2021-09-29 13:40] msdisme opened #394 "Plan for next 3 - 4 deliveries of wayfair hw"
As a receiver of gifts for the MOC we would like a clear process for receiving and distributing the hardware before the Next delivery January.

[2021-09-29 13:41] msdisme opened #395 "Identify homes for wayfair HW"

[2021-09-29 14:07] larsks opened #396 "if possible identify 1 that can support a DPU, GPU and FPGA (xylynx) if none can support all three, identify one which can support GPU and DPU"

[2021-09-29 18:19] larsks commented on #390
It looks as if we're successfully able to communicate with the
cluster:

    $ ceph  --user provisioner-moc-rbd-1 status
    cluster:
      id:     6de96983-eef7-4690-9a6d-9124d3707a30
      health: HEALTH_WARN
              Low space hindering backfill (add storage if this doesn't resolve itself): 2 pgs backfill_toofull
              Degraded data redundancy: 3902012/19357513240 objects degraded

[2021-09-29 21:47] msdisme commented on #383
1. Go to: `https://console-openshift-console.apps.ocp-prod.massopen.cloud/`
<img width="1180" alt="Screen Shot 2021-09-29 at 5 36 18 PM" src="https://user-images.githubusercontent.com/6126065/135352778-f4a144b9-c9e6-46f8-9529-7ea6e9114a70.png">

2. select moc
<img width="798" alt="Screen Shot 2021-09-29 at 5 37 28 PM" src="https://user-images.githubusercontent.com/6126065/135352936-428e5232-435d-4

[2021-09-30 13:35] larsks commented on #390
We have a set of credentials from Milan. I've stored them in Bitwarden; look for:

- smaug nese client.provisioner-moc-rbd-1
- smaug nese client.node-moc-rbd-1
- smaug nese client.healthchecker-moc-rbd-1

[2021-09-30 13:57] larsks opened #397 "Get Emilien (et al) access to Zero cluster hardware"
There is interest in the operate first organization in deploying a model OpenStack cluster, much like the Zero and Smaug OpenShift clusters. Now that the Zero cluster has been retired, folks would like to try the OpenStack deployment on that hardware.

We'll need to get one or more people access to the hardware, including console/ipmi access.

Part of https://github.com/operate-first/support/issue

[2021-10-01 01:44] larsks commented on #391
According to [this document](https://kubernetes.io/docs/setup/best-practices/cluster-large/) we shouldn't have more than 110 pods/node. If that's true, then our cluster is definitively too small for this request. I'm going to see if Red Hat support agrees with this value.

[2021-10-01 01:56] larsks commented on #391
I've opened https://access.redhat.com/support/cases/#/case/03046789 with this request.

While researching that, I came across [this scalability document](https://docs.openshift.com/container-platform/4.3/scalability_and_performance/planning-your-environment-according-to-object-maximums.html#cluster-maximums-major-releases_object-limits) which seems much more authoritative, and says that a conserva

[2021-10-01 02:07] larsks commented on #391
Assuming that 250 pods/node is a reasonable number, we ought to be able to service this request, with the caveat that it will eat about 50% of our cluster capacity -- and that's assuming that the pod resource requirements are such that our hardware can host 250 pods on a single worker.

Most of our nodes have 32 cores and around 380GB of memory, which works out to 1.5GB memory/pod and about 0.1 CP

[2021-10-04 20:53] larsks opened #398 "Expose NESE VLAN to cnv-dhcp[12]"
In order to provide DHCP server for the NESE VLAN (id 211,
10.0.120.0/22), I'd like to expose VLAN 211 to the pair of virtual
servers we originally created for the CNV network.

I'm going to reconfigure these as an HA DHCP pair (like
[this](https://kb.isc.org/docs/aa-00502)) so that we can run dynamic
DHCP on the NESE VLAN.

[2021-10-04 20:59] naved001 commented on #398
I had vlan211 imported into ovirt. So I added an interface to both of those machines. Let me know if there are any connectivity issues.

[2021-10-04 21:01] larsks commented on #398
Connectivity looks good from both nodes. Thanks!

[2021-10-04 21:01] #398 closed

[2021-10-05 13:34] larsks commented on #378
I've update the configuration on cnv-dhcp{1,2} so that instead of a static-only dhcp service built around dnsmasq, it's a highly available dynamic dhcp service using ISC DHCPd. The deploy playbooks are currently living in https://github.com/CCI-MOC/hadhcp.

[2021-10-05 13:34] #378 closed

[2021-10-05 15:36] msdisme commented on #388
Identified - www.johonnottechnologies.com - used by wayfair

[2021-10-05 15:36] #388 closed

[2021-10-05 15:39] msdisme commented on #382
Perhaps tied to discussion of ESI hardware, network ownership for ESI, etc.

[2021-10-05 15:41] msdisme commented on #290
Worked with Milan on it, other issued covered in other issues.

[2021-10-05 15:41] #290 closed

[2021-10-05 15:43] msdisme commented on #334
Assign a due date and convert to milestone seems like next logical step. @msdisme

[2021-10-05 15:49] msdisme commented on #69
Will be part of : https://github.com/CCI-MOC/ops-issues/issues/365

[2021-10-05 15:49] #69 closed

[2021-10-05 15:51] msdisme commented on #285
Proposal that we do this discussion during Milan Office Hours.  Concern is that if only Milan may be a waste of everyone's time - pizza and snacks.

[2021-10-05 15:56] msdisme commented on #228
low priority given planned deprecation

[2021-10-05 19:00] larsks opened #399 "Remove phone number from massopen.cloud web page"
We list a phone number at the bottom of https://massopen.cloud, but it doesn't appear to go anywhere useful. We should probably remove it.

Update to +1 (617) 353-4118 which forwards voice mail to ticketing system

[2021-10-05 19:50] larsks commented on #380
I don't want to actually test this right now, but the stonith configuration seems valid. Looking at the output of:

[code]

The IPMI addresses and credentials all seem valid, and I've confirmed that I can run `ipmitool` on the controllers and connect query the power status on all the nodes.

[2021-10-05 19:50] #380 closed

[2021-10-05 20:02] larsks commented on #390
It looks like even with a proper set of credentials that OCS is unhappy. It may require access to the Ceph prometheus endpoint. I've reached out to hugh and heidi to see if they can connect me with someone who knows OCS internals.

[2021-10-05 20:05] #364 closed

[2021-10-05 20:15] naved001 commented on #364
[code]
things look happy.

[2021-10-06 13:06] screeley44 commented on #390
comments from JC Lopez
[code]

It is all documented [here](https://access.redhat.com/documentation/en-us/red_hat_openshift_container_storage/4.8/html/deploying_openshift_container_storage_in_external_mode/creating-an-openshift-container-storage-cluster-service-for-external-storage_rhocs)

[2021-10-06 13:08] larsks commented on #390
@screeley44 I think you've missed the fundamental question I'm trying to ask. I'll follow up via email.

[2021-10-08 12:12] leseb commented on #390
Why don't we have access to the Prometheus metrics? Is it a design choice for the deployment?

I think most of that has been registered already in BZ that we are planning on taking care of in the next ODF 4.10 cycle. Glad to see it's working somehow after a second attempt.

[2021-10-12 15:36] larsks commented on #377
Classes have started, so we can't get pre-start data.

[2021-10-12 15:39] larsks commented on #311
Depends on #319

[2021-10-12 18:10] msdisme opened #400 "decide on Name for domain"
msd go to godaddy and confirm name is owned - week 49 name change occurred, will repick.

[2021-10-12 19:00] larsks commented on #390
This achieved "mostly working" status so I'm going to close this issue and track the current difficulties in a new one.

[2021-10-12 19:00] #390 closed

[2021-10-12 19:32] msdisme opened #401 "set up email on orci domain that forwards to osticket and marion"
This is for a hosted Asana account. Consider having email forward into osticket instead of to individual people.

[2021-10-12 19:32] msdisme opened #402 "Set up asana on the moca domain"
use roundcube to create a MOC mail address for settign up asana

[2021-10-12 19:33] msdisme opened #403 "add other asana users to orci group in Asana"
Blocked on first creating the mailing list.

[2021-10-12 19:33] msdisme opened #404 "move current Asana projects to moca group"
move current Asana projects to moca group

[2021-10-13 13:38] larsks opened #405 "Smaug cluster problems with Noobaa object storage service"
After a network outage caused by loss of routes on the worker nodes, PV storage is working fine but objectbucketclaims never bind. I haven't been able to spot an obvious error from Noobaa.

[2021-10-13 16:59] naved001 opened #406 "We are running out of space on mail.massopen.cloud"
`/var/lib/mailman/archives/private` is taking up 15GB of space.

The big ones are:
[code]

Is it worth keeping those or can we delete those?

[2021-10-13 18:42] larsks commented on #406
I think it's safe to delete the archives. We should probably configure a cron job to expire things automatically (e.g., maybe we want to keep a month of data).

[2021-10-14 18:49] rob-baron opened #407 "Rob - list of all users on power 9 cluster and other hw users including email"
Provide a list of users of the power 9 cluster on openshift

[2021-10-14 18:49] msdisme opened #408 "list of users to Michael"

[2021-10-14 18:50] #408 closed, assigned to msdisme

[2021-10-14 20:27] #407 closed, assigned to nobody

[2021-10-19 13:31] naved001 opened #409 "Brocade switch failure at neu-3-43"
An ovirt node is connected to it (ov3), and a bunch of other important hardware.

I am going to see if we have a serial cable connected to this.

[2021-10-19 15:20] #405 closed, assigned to larsks

[2021-10-19 15:37] larsks opened #410 "Plan MOC(/etc) network architecture"
Our existing network infrastructure has amalgamated organically over time. We should sit with a network architect and figure out how best to design the physical and logical structure of our network to be as flexible and robust as possible.

[2021-10-19 15:41] msdisme commented on #291
if triple replication size may need to be larger

[2021-10-19 15:48] larsks opened #411 "Performance testing NESE storage"
Either run our own performance tests or find someone with existing experience evaluating openshift storage to perform the testing for us.

[2021-10-19 16:00] msdisme opened #412 "confirm with PI's recycle hardware or move to OCT"
Should deprecated hardware be recycled or moved to OCT? If we're not moving the hardware itself, are existing students able to move their work to OCT? - https://docs.google.com/document/d/1e530KMVEcr0sCyo9SfeoIVzA8e3q9SqsyWjOko3BhBE/edit

[2021-10-19 19:21] #352 closed, assigned to larsks, naved001

[2021-10-20 02:24] msdisme opened #413 "incomplete project approvals in onboarding"
https://onboarding.massopen.cloud/management/
shows a number of incomplete invitations to join projects and new project creations.
https://onboarding.massopen.cloud/management/notifications/ makes me think it's a problem with email.

Assigning to Kristi for guidance/resolution.

https://support.massopen.cloud/scp/tickets.php?id=1187 contains all of the students in EC713, and Professor Coskun.

The

[2021-10-20 12:48] naved001 commented on #363
Upgrading to 4.9 should take care of this.

[2021-10-20 13:25] larsks commented on #406
@naved001 I have added the [`prune_arch`](https://www.msapiro.net/scripts/prune_arch) script to the mailserver and set up a systemd template unit (`prune-mailman-archives@.service`) and associated timers to clean up the `rootmail`, `cephalerts`, and `alerts` list. Currently expiration is set to 14 days, but can be adjusted per list.

[2021-10-20 13:39] knikolla commented on #413
Mail queue was rejecting new mails  #406

Projects were created and invitations should now have gone through

[2021-10-20 13:39] #413 closed

[2021-10-21 01:13] msdisme opened #414 "Multiple requestors not visible in the onboarding system"
I have emails from the following project creation requests,  and one or two may even have received working project invites.  As best I can tell none are visible in the onboarding tool.

Danielcw and safarhat still do not have invites as of 9:12 pm on Oct 20, 2021 (I have asked them to recreate).

10/13:’ baksar@bu.edu', 'user_id': '61dd4119217c45bcb8d094bc12869b19',
10/13: 'kbjay@bu.edu', 'user_id

[2021-10-21 13:33] #409 closed, assigned to naved001

[2021-10-21 14:11] #414 closed, assigned to knikolla

[2021-10-21 14:18] msdisme commented on #414
Attached pdf with screenshots for danielcw in case this is useful:
[danielcw.pdf](https://github.com/CCI-MOC/ops-issues/files/7389757/danielcw.pdf)

[2021-10-21 20:08] msdisme opened #415 "Discussion/Question from Gagan: may we install/run curator project on the MOC OpenShift 4.x cluster."
@gagansk please update this with details

[2021-10-25 13:18] naved001 opened #416 "MGHPCC: Check switchports of the supermicro server"
@pjd-nu's supermicro server has no links. Needs to be looked at either remotely or in-person.

[2021-10-26 15:19] larsks opened #417 "Create dedicated outbound mail service for sso/onboarding/etc"
We're currently using the same mailserver for inbound email, mailing lists, and outbound email. As we have seen recently in #406, this can cause problems with SSO and onboarding if a mailing list happens to fill up the disk. We should have separate severs for outbound mail.

[2021-10-27 13:56] #406 closed, assigned to nobody

[2021-10-27 13:57] larsks opened #418 "Add mailing list expiration scripts to config management"
In #406 we implemented some automatic expiration of archives, but those changes need to be added to configuration management.

[2021-10-27 14:11] rob-baron opened #419 "Explore the Setup and Configuation of XDMod for open stack"
I want to demonstrate if XDMod can be used to monitor and provide data for reporting on OpenStack.

- [x] #422
- [x] #423
- [x] #424

It would be very useful for the NERC to use this tool to monitor their OpenStack cluster (and eventually OpenShift) as they are:

   1) Familiar with it
   2) Store large amounts of  metadata in it

[2021-10-27 14:11] msdisme opened #420 "Draft notice to OCP 3.11 users EOL"
See comments for more details.

[2021-10-27 14:11] msdisme opened #421 "Send notice in email of deprecation to ocp 3.11 users"
dependency upon NERC dates, do in coordination with them.

[2021-10-27 14:24] rob-baron opened #422 "Get XDMod running in either a development and/or staging like environment"
As I look out on the horizon, I sense that XDMod is going to be critical for the NERC.  While I was able to stand up an instance of XDMod in a container that is being built from a docker file from a tutorial, I was not yet able to build from source.  Building from source is usually the first step I do to begin development work on any project.

[2021-10-27 14:24] rob-baron opened #423 "pull data from OpenStack and import it into a form XDMod could use"
This is to install, configure and run the script (https://github.com/ubccr/xdmod-openstack-scripts) that runs on the xdmod side to collect data from OpenStack.  This is no longer dependent on getting XDmod up and running with supremeMM. **It has a dependency on getting access to the NERC OpenStack for testing.**

DOD: pull data from OpenStack 16 version of openstack, shows up in json file

[2021-10-27 14:24] rob-baron opened #424 "Validate the data displayed with XDMod is what OpenStack is reporting"
For example, compare the projects that exist in OpenStack with the projects that XDMod is reporting on when we finish the setup the connection of OpenStack with XDMod.

Initially this will be a subset of data that we will eventually collect as current collection script uses deprecated components of open stack ( celometer and panko )

[2021-10-27 14:30] msdisme opened #425 "Look at Amazon bill trend"
- [ ] look at last 4 months and share in this ticket
- [x] #475

[2021-10-27 14:37] larsks opened #426 "Configure netbox to authenticate against Keycloak"
We should configure Netbox to make use of Keycloak for authentication. One way of doing this is by setting up an oauth proxy in front of Netbox, and then configuring Netbox for remote authentication (`REMOTE_AUTH_ENABLED=True` and a number of related configuration options).

[2021-10-27 14:41] rob-baron opened #427 "Create a proposed API to support Onboarding as a Service."
Proposed API to support Quotas Onboarding as a Service

This depends on the work that Kristi is doing to define a starting point to support Quotas for the NERC

[2021-10-28 00:25] msdisme opened #428 "Review MOC Security Audit Results"
Please review: [End of Research Presentation](https://docs.google.com/presentation/d/1I9JD2GA6qm6ktTLhxh85d2lqrF6DPaTSulI9T2DkvL8/edit?usp=sharing).  They plan to present it on 11/2.

You will probably need to request access to a number of the linked reports in the presentation.

- [ ] to ensure that all the information we are sharing is appropriate given that some meeting attendees may not be aff

[2021-10-29 14:16] larsks opened #429 "Verify CNV compatibility with OpenShift 4.9"
We're thinking of upgrading to OpenShift 4.9, but we should first verify that the current version of CNV will work with this version.

[2021-10-29 14:18] larsks opened #430 "Upgrade ocp-prod to OpenShift 4.9"
OpenShift 4.9 includes MetalLB support, which we want to provide a convenient mechanism for assigning public ips to CNV virtual machines.

[2021-10-29 14:19] larsks opened #431 "Install CNV operator on ocp-prod"
The ROSE project needs virtual machines for students, and we'd like to provide those resources from our OpenShift cluster rather than adding more workloads to our soon-to-be-retired OpenStack environment.

[2021-10-29 14:22] larsks opened #432 "Produce some documentation for onboarding ROSE members to CNV"
We should produce some getting started documentation to help onboard people to the CNV environment.

[2021-10-29 17:05] #429 closed, assigned to nobody

[2021-10-29 19:34] naved001 opened #433 "Move patched netbox image into massopen.cloud org in quay.io"
We should move https://quay.io/repository/larsks/netbox?tag=latest&tab=tags
into massopen.cloud's org in quay.io

[2021-10-29 19:42] naved001 opened #434 "Arrange for backups of Netbox database"
Now that we have netbox running, we should setup automatic backups of the database to our ceph cluster. We can do this via the Postgres operator, which has built-in support for S3 backups. See [these docs for details](https://access.crunchydata.com/documentation/postgres-operator/5.0.3/tutorial/backups/).

[2021-10-29 19:43] naved001 opened #435 "Understand what keycloak groups do"
We are using them for authorization in netbox.

Will need to schedule some time with @knikolla to go over this.

[2021-10-29 19:44] naved001 opened #436 "Write ansible playbooks to init netbox with static data"
I think the subject really says it all.

[2021-10-29 19:45] naved001 opened #437 "Write ansible playbooks that register a system with all the details into netbox"
There is a collection of Ansible modules for interacting with NetBox:

- https://docs.ansible.com/ansible/latest/collections/netbox/netbox/index.html

We should be able to use these to register systems with our NetBox instance.

Bonus: create a bootable image that runs those playbooks to mass register new systems into netbox.

[2021-10-29 19:46] naved001 commented on #393
We have a use case now. closing this in favor of #431

[2021-10-29 19:46] #393 closed

[2021-10-29 21:11] msdisme opened #438 "Install GPU's (how many arrived) for use in SMAUG cluster."
- [x] decide which systems to install these in
- [ ]  confirm date and update this ticket: https://github.com/operate-first/support/issues/147
- [ ] coordinate with Naved, Lars and Operate First team if this requires pulling any of the systems out of cluster
- [ ] update records with additions
- [ ] add links to oct hardware details in kaizen spreadsheet-@naved may need to do this part due to perm

[2021-11-01 14:08] larsks commented on #411
I put together a small project that runs [fio](https://fio.readthedocs.io/en/latest/fio_doc.html) against our two storage backends.

The tests run for 60 seconds, and produce the following metrics:

- `bw_mean` -- average bandwidth (larger is better)
- `iops` -- iops completed (larger is better)
- `clat_mean` -- completion latency (smaller is better)

My reading of the results is that the Ceph sto

[2021-11-01 18:48] naved001 commented on #428
I read the reports and it looks fine to me.

[2021-11-01 23:46] larsks opened #439 "Install the Crunchy Data Postgres Operator on ocp-prod"
I think we should install the Crunchy Data Postgres Operator (https://access.crunchydata.com/documentation/postgres-operator/5.0.3/, but also available from the operator hub). This provides a declarative mechanism for configuring a highly available postgres cluster.

If we're going to be putting data into postgres, it makes sense (a) to configure ha postgres so that a single node failure doesn't r

[2021-11-01 23:53] larsks opened #440 "Install VolSync operator"
The [VolSync Operator](https://volsync.readthedocs.io/en/latest/) is a tool for performing asynchronous replication and backup of OpenShift persistent volumes. Having a mechanism in place for backing up PVs would be useful for our production environment.

See also #258 and #260.

[2021-11-02 00:10] naved001 opened #441 "Setup OCP staging environment"
Ideally with 3 controllers and at least 2 workers.

From the top of my head, things we'll need to do regardless of what hardware we put this on:
- [X] Reserve IPs and VLANs -
- [X] Create ceph pool for OCS and the aws secret with cluster details
- [X] DNS configuration
- [x] SSO create client/secret and corresponding aws secret
- [ ] other secrets

Hardware specific tasks:
- [ ] Configure networks

[2021-11-02 00:12] naved001 commented on #441
Since I had 3 nodes available, I did end up deploying it.

https://console-openshift-console.apps.ocp-staging.massopen.cloud/dashboards

it's currently on neu-5-13, bu-23-105, bu-23-111. not all of these nodes have SSDs though so not sure if we'll run into etcd performance issues.

I'll put the login in bitwarden.

[2021-11-02 00:14] larsks commented on #441
I think we're really going to want more than three nodes to that we have separate controllers and workers; this will more accurately reproduce the production cluster. I worry that with only three nodes (a) we will run into resource problems and (b) we will see configuration differences between the two environments because in a three-node cluster, all nodes share both `worker` and `master` roles.

[2021-11-02 14:03] #439 closed

[2021-11-02 15:28] msdisme commented on #365
https://docs.google.com/document/d/1e530KMVEcr0sCyo9SfeoIVzA8e3q9SqsyWjOko3BhBE/edit

[2021-11-02 15:30] rob-baron opened #442 "Presentation as to what data OpenShift collects."
Presentation as to what data OpenShift collects

[2021-11-02 15:49] #321 closed

[2021-11-02 15:58] #256 closed

[2021-11-02 18:48] naved001 commented on #420
Hello Mass Open Cloud Users,

The MOC will be upgrading to OpenShift Container Platform 4.9 on baremetal. Our older OpenShift 3.11 cluster will be decommissioned before the end of this year. If you are interested in continuing to use OpenShift on MOC and would like your projects to be migrated then please fill out this [survey](https://example.com).

For further clarifications and inquiries please

[2021-11-02 21:49] larsks commented on #442
Attached file  [metrics.json](https://github.com/CCI-MOC/ops-issues/files/7464167/metrics.json.txt) which is a list of all the metrics available in the `ocp-prod` cluster right now. It is possible to enable additional monitoring of [user defined projects](https://docs.openshift.com/container-platform/4.9/monitoring/enabling-monitoring-for-user-defined-projects.html) (see also the [following sectio

[2021-11-02 23:57] msdisme commented on #420
Some minor mods:

The MOC will be upgrading the Intel k-openshift cluster  from version OpenShift 3.11 to OpenShift Container Platform version 4.9.   OpenShift 4.9 will be running on bare metal cluster _benefits/differences from an end user perspective?_

Our OpenShift 3.11 cluster will be decommissioned before the end of this year. If you are interested in continuing to use OpenShift on MOC and w

[2021-11-03 01:09] larsks commented on #420
I think the benefits and differences are primarily in the move from 3.11 to 4.9, rather than in the move from OpenStack to bare metal.

I don't think that's a useful end user reference. Most (all?) of the differences in that document are primarily of interest to people *deploying* openshift, e.g.:

- Different installation tools
- Use of RHCOS vs RHEL
- Operators
- Use of CSI drivers for storage
-

[2021-11-03 15:47] msdisme commented on #415
@gagansk and @skanthed - how much time would it take to present details - show us the reports it can produce; how it connects, etc. Hoping we can invite you to one of our daily standups to show it.

[2021-11-03 15:55] skanthed commented on #415
Here we have a few reports attached from the Smaug cluster in this issue if that makes sense.
Reports - https://github.com/operate-first/curator/issues/143

[2021-11-03 17:36] larsks commented on #442
The API endpoint for the openshift prometheus instance is https://prometheus-k8s-openshift-monitoring.apps.ocp-prod.massopen.cloud/api/v1. You'll need to get an auth token to interact with the API, e.g.:

[code]

There is an interactive query interface at https://console-openshift-console.apps.ocp-prod.massopen.cloud/monitoring/query-browser if you want to experiment with queries in your browser.

[2021-11-03 18:17] larsks commented on #442
The OpenShift monitoring documenting starts [here](https://docs.openshift.com/container-platform/4.9/monitoring/understanding-the-monitoring-stack.html), which includes an architectural overview, configuration information, and the links I included in [my earlier comment](https://github.com/CCI-MOC/ops-issues/issues/442#issuecomment-958201804).

[2021-11-03 18:28] larsks commented on #415
@skanthed access to those reports appears to be restricted.

[2021-11-03 18:31] skanthed commented on #415
@larsks Can you try now one more time?

[2021-11-03 18:33] larsks commented on #415
@skanthed that works for me. Will they be available to folks without Red Hat addresses?

[2021-11-03 18:41] skanthed commented on #415
Not for now. But for them, we will create a folder in the drive and put files in that and will give access to everyone.

[2021-11-03 18:57] naved001 opened #443 "Add API server certificate for ocp-prod cluster"
@rob-baron pointed this out. It would make sense to do it because when people from outside our organization connect to the API it would be nice to not get certificate warnings.

https://docs.openshift.com/container-platform/4.9/security/certificates/api-server.html

[2021-11-04 02:30] larsks opened #444 "Configure object storage for netbox"
According to [the documentation][docs]:

It looks like django-storage has an [S3 backend][]. We should create an `ObjectBucket` for NetBox and then configure it to store uploaded files in that bucket.

[docs]: https://netbox.readthedocs.io/en/stable/installation/3-netbox/#remote-file-storage
[s3 backend]: https://django-storages.readthedocs.io/en/stable/backends/amazon-S3.html

[2021-11-04 14:23] skanthed commented on #415
For now, I have given access to @naved001 and @msdisme.

[2021-11-05 01:45] msdisme commented on #336
Requested Marion order these.

[2021-11-05 14:15] #443 closed

[2021-11-05 18:49] rob-baron commented on #442
(https://docs.google.com/presentation/d/19RtBTJbi0Z952SqUIqzprU1xE8goaY4UZF8QdR1YaJs/edit#slide=id.gfd72101621_0_57)

[2021-11-07 21:13] rob-baron commented on #420
Another benefit from running on bare metal as opposed to our OpenStack deployment is that it will be higher performance due to the etcd not becoming overwhelmed and constantly having a leader reelection.

[2021-11-08 13:56] naved001 commented on #420
Few questions:

1. What do we do when people fill out the form? What are we going to do with it?
2. Will we help people with the migration and/or moving any large PVs?

I agree, we should keep this announcement simple.

case-by-case basis.

That's what I think too and they can open a ticket for that.

In my original note, I would get rid of the part that says "projects to be migrated" because I th

[2021-11-09 16:20] naved001 commented on #426
it's done.

[2021-11-09 16:20] #426 closed, assigned to nobody

[2021-11-09 16:30] larsks commented on #435
@knikolla helped me simplify the keycloak configuration for this. No changes on the netbox side.

[2021-11-09 16:30] #435 closed

[2021-11-09 16:30] msdisme commented on #410
Discussion doc currently here: https://docs.google.com/document/d/1nfFf0E4wyIoTkpHG0w-q6bf0jbmHqzhp5rSLTIZjbv4/edit

[2021-11-09 19:11] larsks commented on #426
Specifically, this was configured as part of https://github.com/CCI-MOC/moc-apps/commit/ac8ed4191dfd1a85c0f5b70b60ae4fd06fa15eef

[2021-11-10 14:21] #428 closed

[2021-11-10 14:21] naved001 commented on #161
this is now deployed; we have separate issues open for other netbox tasks.

[2021-11-10 14:21] #161 closed

[2021-11-10 14:22] #411 closed

[2021-11-10 14:23] naved001 commented on #441
we now have a functioning staging cluster with 3 controllers and 2 compute nodes.

I am going to open separate tickets to track networking configuration and OCS installation.

[2021-11-10 14:23] #441 closed

[2021-11-10 14:24] naved001 opened #445 "Configure `ocp-staging` nodes to be on ceph networks"
`node-labeler` has labeled the interfaces on the nodes. Now I need to create nmstate configs.

[2021-11-10 14:26] naved001 opened #446 "Install and configure OCS on ocp-staging"
I have already taken care of creating the ceph pool and the secret in aws for rook-ceph-external-cluster details. This needs to be done after the network configuration #445

[2021-11-10 14:39] #399 closed

[2021-11-10 14:42] msdisme commented on #391
@pjd-nu we are assuming, since we haven't heard any more about this, that they found another solution.

[2021-11-10 15:01] larsks opened #447 "Help Surbhi resolve database PV issues on curator cluster"
After the upgrading to 4.9, node names on the curator cluster changed which has caused problems with host-based volumes.

[2021-11-10 19:16] #445 closed

[2021-11-11 01:12] larsks commented on #446
There were two noobaa pods failing to schedule because...

[code]

Looking at the affinity selector in the pod...

[code]

...we see that the pod will only schedule on nodes that have the `cluster.ocs.openshift.io/openshift-storage` label. I set this on the two worker nodes, and now the noobaa pods are running. The only problem is the `ocs-operator-...` pod:

[code]

Looking at the logs there it s

[2021-11-11 01:14] larsks commented on #446
Despite the operator errors, it looks as if OCS is functional. I was able to create a PVC and it was immediately bound to a PV.

[2021-11-12 13:27] naved001 commented on #446
@larsks do you think we can close this issue then?

[2021-11-12 13:31] larsks commented on #446
I think we should probably figure out what's going on with the operator, but if you'd prefer we can close this and open a new issue specific to that problem.

[2021-11-12 13:47] naved001 commented on #446
I should be able to create object bucket claims, right?

and looks like that's not working either
[code]

[2021-11-12 14:16] naved001 commented on #446
https://noobaa-mgmt-openshift-storage.apps.ocp-staging.massopen.cloud/fe/  says its upgrading.

I looked at `noobaa-core-0` logs, and saw these error messages
[code]

`NON_EXISTING_ROOT_KEY`, and came across https://bugzilla.redhat.com/show_bug.cgi?id=2019577

@larsks Let's just stick with this issue since it's not just an operator problem.

[2021-11-12 20:04] naved001 commented on #446
I followed that bugzilla and deleted the master-root-key as suggested at the end, and that fixed it. I can create object buckets just fine, and the noobaa dashboard is available.

[2021-11-12 20:06] hakasapl commented on #438
3 GPUs (Tesla P100s) have arrived

[2021-11-12 20:11] naved001 commented on #446
the ocs-operator seems to be running too:

[code]

[2021-11-12 22:49] naved001 commented on #430
the staging cluster is now running the latest 4.8 and can be migrated to 4.9.6, however looks like we need to make sure that certain v1beta APIs removed in kubernetes 1.22 should be migrated.

https://access.redhat.com/articles/6329921

on `ocp-staging` this is what I see:
[code]

on `ocp-prod`:
[code]

[2021-11-15 14:53] msdisme opened #448 "Evaluate hw requirements for Jupyter Hub for January Courses"
Mark Crovella, Jonathan Apavoo and Orran all hope to use Jupyter Books in the January timeframe.

That means a total of approximately 500 students.   We need to evaluate whether the MOC OpenShift 4.x  can support this number of users, what additional HW requirements look like,   etc.

@okrieg setting proper expectations,   this will impact the same resources required to support ESI, migration to N

[2021-11-15 15:05] naved001 commented on #430
I looked at what users are using the deprecated APIs on the `ocp-staging` cluster
[code]
Looks like it's mostly some `system` accounts except for `certificatesigningrequests.v1beta1.certificates.k8s.io` used by the `kube:admin` user.

[2021-11-15 15:39] msdisme commented on #448
Jonathan 250, Marc 150, Orran OS - 50

[2021-11-15 15:42] msdisme commented on #448
Backup run on OpenShift on demand. . . .

[2021-11-15 15:45] larsks commented on #448
@msdisme can you unpack that one a bit?

[2021-11-15 15:47] larsks commented on #447
We were able to resolve this by:

- Shutting down existing database server
- Backing up old PV
- Deleting old PVC
- Create new PVC
- Migrate data to new PV
- Restart database pod

[2021-11-15 15:47] #447 closed

[2021-11-15 15:50] larsks commented on #446
@naved001 good find on that bugzilla!

[2021-11-15 15:52] msdisme commented on #448
Sure:
If we decide that supporting the class is important.
And MOC or NERC are not the right place to do it in Spring 2022.
Then we should explore running Jupyter Books on OpenShift on Demand.

[2021-11-15 15:52] larsks commented on #430
I think if the usage is by system accounts we don't need to worry about it, because those will presumably be taken care of as part of the upgrade. I think the only use of the `kube:admin` account is interactive cli/console login, so that should also be okay. Let's go ahead with the upgrade on the staging cluster.

[2021-11-15 15:54] larsks commented on #448
Ah, thank you for the clarification. I thought it was a request for some sort of on-demand backup mechanism :)

[2021-11-15 16:01] naved001 commented on #430
@larsks sounds good. opened a PR https://github.com/CCI-MOC/moc-apps/pull/101

[2021-11-15 16:12] naved001 commented on #430
on the production cluster,
[code]
I am somehow using that API.
all others were used by system accounts.

[2021-11-15 18:02] naved001 commented on #446
I am going to close this issue then.

[2021-11-15 18:02] #446 closed

[2021-11-15 19:42] #418 closed

[2021-11-16 15:07] naved001 commented on #430
We successfully upgraded our staging cluster to 4.9.6 and then installed metallb and openshift-cnv. For cnv to work we had to uninstall the standalone nmstate operator. I successfully launched a test VM on the staging cluster.

Now we need to this on the production cluster; hope to do it all today.

[2021-11-16 17:41] msdisme commented on #430
@naved001 @larsks @rob-baron - I *know* we wrote this yesterday and yet neither Naved or I can find it, so rewriting:

We will be upgrading the OpenShift 4.8 cluster you are working on to OpenShift 4.9 .  This change should be transparent to users, though some long running processes may be affected.

We will send a note when we start, and when the process is complete.  If you notice any issues aft

[2021-11-16 17:43] naved001 commented on #430
I think that gets the point across.

[2021-11-16 18:04] msdisme commented on #430
ok - pulling emails from openshift-projects, will probably lock them in a bitwarden note as a way to make them available to you etc.

[2021-11-17 08:04] sleviim commented on #430
Hi all,
Our course starting date is just around the corner (Sun 21st), and it feels like things are not completely finished.
We can postpone the starting date, but can you please share with us the estimation of when the platform should be ready to use and get tested?
We appreciate your effort in doing it, and would appreciate your transparency with the dates and progress (as we also have the lectu

[2021-11-17 12:54] naved001 commented on #430
@sleviim

Apologies for the delay, we will be upgrading the production cluster and installing CNV on it today. If nothing breaks during that then you should have access to test the cluster by tomorrow (Nov 18th).

You can start by submitting a request here so we can create an account for you on our cluster:
https://github.com/CCI-MOC/moc-openshift-projects

[2021-11-17 15:53] sleviim commented on #430
Ack, thanks!

[2021-11-17 18:56] naved001 commented on #363
resolved by https://github.com/CCI-MOC/moc-apps/pull/111

[2021-11-17 18:56] #363 closed

[2021-11-17 18:57] naved001 commented on #430
resolved by https://github.com/CCI-MOC/moc-apps/pull/109

[2021-11-17 18:57] #430 closed

[2021-11-17 18:58] naved001 commented on #431
resolved by https://github.com/CCI-MOC/moc-apps/pull/112

[2021-11-17 18:58] #431 closed

[2021-11-17 22:26] naved001 opened #449 "OpenShift: service created for VM SSH access is not deleted when a VM is deleted."
This issue is fixed in OCP 4.9.7

[code]

As you can see I only have 1 VM that's running but service created from my older test virtualmachines are still there and didn't get deleted. Link with more details https://bugzilla.redhat.com/show_bug.cgi?id=2019494

[2021-11-18 16:21] larsks commented on #449
@naved001 Do you want to schedule the 4.9.7 upgrade soon? Or just live with this for now?

[2021-11-18 16:27] naved001 commented on #449
I'll start it on the staging cluster for now.

[2021-11-18 19:48] naved001 commented on #420
I think we are going to wait to send out this email until we have:

1. more capacity on the `ocp-prod` cluster.
2. have a proper onboarding system in place.

Once we have those, we can send out an email pointing user to the onboarding system's signup page.

[2021-11-18 20:06] naved001 commented on #420
Just some of my thoughts:

Resources currently allocated by the K-Openshift openstack project (that hosts the ocp3 cluster) are:

vCPU: 298 allocated out of 434.
RAM: 1 TB out of 11TB
~10TB of Storage.

If a node has 40vCPUs and 128Gigs of memory. then we would need 8 such nodes to be added.

[2021-11-18 20:07] larsks commented on #420
We have available nodes already and we're just waiting on networking equipment; is that correct?

[2021-11-19 15:09] rob-baron commented on #420
Keep in mind that we have several older projects on k-openshift that we should have cleaned up and that we needed to scale up the cluster towards the end of the semester.  After the semester was over, we scaled things back a bit  as fewer people were using it.

[2021-11-22 16:50] larsks opened #450 "Virtual ROSE on CNV requirements discussion"
This issue is a place to discuss the use of the MOC ocp-prod OpenShift cluster by the Virtual ROSE project.

[2021-11-22 16:58] larsks commented on #450
@sleviim it occurs to me that if we can't get RDP working, you may just be able to use the console access already available in OpenShift (go the virtual machine details and select the "Console" tab).

The image you're using right now is a minimal image that does not include any desktop environment. You will either need to (a) configure each vm explicitly after creating it, or (b) create a custom b

[2021-11-22 16:59] larsks commented on #450
I have made several changes to the README document for https://github.com/larsks/virtual-rose-template that should help you batch create all your virtual machines.

[2021-11-22 17:34] naved001 commented on #450
can they change the port that [xrdp listens on](https://www.systutorials.com/docs/linux/man/5-xrdp.ini/)? For instance, port 3390 is open on the network.

[2021-11-22 18:47] larsks commented on #450
@naved001 that's a good thought! Since the port is exposed through a `Service`, it doesn't matter what the actual application is listening on, we can expose it on any port.

[2021-11-22 18:48] naved001 commented on #450
oh right, service port 3390 maps to VM port 3389. so that require no change to the xrpd config either.

[2021-11-22 19:16] larsks commented on #450
@sleviim I've uploaded a custom image that is configured to boot into a desktop environment by default and modified the template to use it.

[2021-11-22 19:28] sleviim commented on #450
Great! Thanks!
I'll give it a try probably tomorrow

[2021-11-22 20:21] larsks commented on #450
@sleviim per @naved001 's suggestion, we've configured things so that you can access RDP on port 3390.

[2021-11-22 21:27] sleviim commented on #450
Thanks @naved001 @larsks !

[2021-11-23 11:57] larsks commented on #450
@sleviim Just wanted to check in and see if you've had a chance to try things out.

[2021-11-23 12:30] sleviim commented on #450
Hi, saw that but had no chance to try it yet

[2021-11-23 13:56] sleviim commented on #450
@larsks, can you please share with us on the mail the meeting's recording?

[2021-11-23 14:29] larsks commented on #450
@sleviim you should find the meeting recording attached to the calendar event for yesterday's call, but I'll email out a direct link as well.

[2021-11-23 15:57] #442 closed

[2021-11-24 04:09] larsks commented on #450
Note that tomorrow (Wednesday 11/24) is the last day most of us will be around until Monday 11/29.

[2021-11-24 04:10] larsks commented on #450
Note that tomorrow (Wednesday 11/24) is the last day most of us will be around until Monday 11/29.

[2021-11-24 09:17] maayanf24 commented on #450
@larsks - We have managed to create a single vm according to the template.
we have some questions:
1. is it possible to allow all our mentors to access all the vms without entering each mentor's public key to the template?
2. how can we login to console with user "centos" ? without having to access OCP console?

[2021-11-24 12:03] larsks commented on #450
@maayanf24:

You could use a shared ssh key (generate a new private key, share it with your mentors, and put the corresponding public key in the template). I'm curious, why you don't want to put the individual public keys in the template?

To log in to the *console* specifically you would need the "Console" tab in OCP (to which I believe everyone should have access).

If you're just looking for a

[2021-11-24 14:30] larsks commented on #450
@sleviim that's interesting! I hadn't realized there was that sort of size limit. There are a variety of ways to work around that problem.

One solution would be to put the public keys online somewhere and then just fetch them with `curl` via a [runcmd](https://cloudinit.readthedocs.io/en/latest/topics/examples.html#run-commands-on-first-boot) in your userdata script.

If everyone has configured t

[2021-11-24 14:32] larsks commented on #450
If you'd like help with any of the above I'd be happy to hop on a call and work through it with you.

[2021-11-24 14:49] sleviim commented on #450
@larsks I can use some help :)
not sure how to use is / where to locate it in the yaml file (nocloud: userDataSecretRef: my-vm-userdata)

[2021-11-24 15:12] larsks commented on #450
We need to update the template to create a [Secret](https://kubernetes.io/docs/concepts/configuration/secret/) resource. The `objects` attribute of the template is a list of OpenShift resources to create, so we'll add the data there.

Let me update [the repository](https://github.com/larsks/virtual-rose-template) with an example; if you'd like to talk through it you can reach me on chat to set up

[2021-11-24 15:19] larsks commented on #450
You can see the updated template [here](https://github.com/larsks/virtual-rose-template/blob/2e66802c4afbdee08a6984387e25a08406b7f9e1/template/rose-integrated-template.yaml). I have not updated the template in OpenShift yet because I wasn't sure if you had made some of your own changes and I didn't want to overwrite anything.

[2021-11-24 15:47] larsks commented on #450
And of course if you've already got your VMs up and running, it would be relatively easy (e.g. via an Ansible playbook) to automatically update the `authorized_keys` file in all the existing vms.

[2021-11-25 10:11] sleviim commented on #450
AFAIK, no changes yet.
Need to create a "general" public key for all mentors (and share it among them).

If we have some VMs based on that template, we still need to update each one to use the secret, right?

[2021-11-25 22:19] larsks commented on #450
@sleviim you don't need a "general" public key. Using the model I was showing in that last comment you avoid the space limitations that prevented you from putting the individual keys in place.

Changes to the template will not effect existing virtual machines. You would either need to recreate them, or update the `authorized_keys` file (which is relatively easy to automate).

[2021-11-29 18:04] naved001 opened #451 "Look at OCT-5 hardware"
* Figure out access to the nodes and what all needs to be done before the nodes can be used.
* Put the nodes on our IPMI network

[2021-11-29 18:05] naved001 opened #452 "Deploy `ocp-staging` controllers on OCT5 nodes with SSDs"
Current ocp-staging is running on older nodes without SSDs and that is a cause of some errors and is not a supported configuration anyway.

[2021-11-29 18:07] naved001 opened #453 "Add capacity to `ocp-prod` openshift cluster from OCT5 nodes."
blocked on #451

[2021-11-29 18:11] larsks commented on #432
Mostly what we needed was help for Shanni et al to create vm templates, which is currently in https://github.com/larsks/virtual-rose-template

[2021-11-29 18:11] #432 closed

[2021-11-29 18:12] msdisme opened #454 "Job Descriptions Posted for MOC positions"
comms, admin, projec mgr

[2021-11-29 18:13] msdisme opened #455 "Write Job Descriptions for engineer and technical pjm"
- [ ] [technical project manager -](https://docs.google.com/spreadsheets/d/1FpNlFNOs8g_NPFN3bwMxdti569CmJTgp/edit?usp=sharing&ouid=111874645414752393627&rtpof=true&sd=true) look on tab 2
- [ ] engineer

[2021-11-29 18:14] larsks commented on #391
Assuming this is no longer necessary.

[2021-11-29 18:14] #391 closed

[2021-11-29 18:16] naved001 opened #456 "curator on ocp-staging cluster"
may need to spend some time with @skanthed on getting this done.

[2021-11-29 18:17] #397 closed

[2021-11-29 18:24] larsks opened #457 "Create slack channel for ESI team/NERC/MOC communication"
Create a slack channel to coordinate work with the NERC and members of the ESI project team.

[2021-11-29 18:28] msdisme opened #458 "Identify Git repositories to add RH devs to and get them assigned"
several engineers from RH are joining efforts for NERC, some of which are on MOC first.

- Danni Shi building OpenStack environment for ESI, NERC health check integration
- Leo McGann Cold Front/ESI monitoring integration
- Tzu-Mainn Chen  NERC Red Hat integration overview, ESI demos for NERC
- Gagan Kumar ESI/NERC planning/coordination
- Heidi DempseyGeneral troublemaking
-

[2021-11-29 19:17] naved001 commented on #397
it's not clear to me, but what's happening with the zero cluster hardware?

[2021-11-29 19:58] larsks commented on #397
@naved001 I don't think anyone has made a clear decision about that. Maybe we need a "What do with zero cluster hardware" issue.

[2021-11-30 15:54] naved001 commented on #450
@larsks port 3389 is now unblocked. We probably don't wanna change ports at this stage, but now we know it works.

[2021-11-30 16:20] msdisme opened #459 "Get admin, PJM and marketing job listings posted"
get them listed on BU sites

[2021-11-30 16:24] msdisme commented on #448
Being addressed via control of number of computes used by students.  closing as this will be handled under AWS for initial term.

[2021-11-30 16:25] #448 closed

[2021-11-30 18:09] larsks commented on #450
@sleviim we haven't heard from you in a few days, so I'm hoping everything is going fine. If you have additional questions, please open a ticket at https://osticket.massopen.cloud. Thanks!

[2021-11-30 18:09] #450 closed

[2021-12-01 03:39] larsks opened #460 "What's on VLAN 3803?"
According to [the kaizen networks document](https://docs.massopen.cloud/en/latest/clusters/kaizen2/Kaizen-2.html?highlight=kaizen-2), there are only six hosts on VLAN 3803 (128.31.28.0/24):

[code]

But a ping scan on the network reveals several others hosts:

[code]

What are those other hosts? Is there any portion of this address range that is *not* covered by DHCP (that is, can we allocate stat

[2021-12-01 13:01] larsks commented on #460
Is that the MAAS network?

[2021-12-01 13:13] larsks opened #461 "Broken dns for hil.massopen.cloud"
I have an openshift install that is failing because lookups for ANYTHING.hil.massopen.cloud returns an answer:

[code]

DHCP on VLAN 3803 configures the following search domains:

[code]

So when the openshift attempts to validate that there are no conflicting wildcard dns entries, it sees the erroneous response for looking in hil.massopen.cloud and fails.

Can we either:

- Fix DNS for hil.massop

[2021-12-01 13:31] naved001 commented on #461
I dont know how to do either of those in MaaS. Let me look around, if I can't find that then I propose we just get rid of hil.massopen.cloud from MaaS DNS and configure those hosts directly in tld.massopen.cloud (there are like 3-4 active hosts)

[2021-12-01 13:32] larsks commented on #461
What is the dns server for hil.massopen.cloud -- is that MaaS, or something else?

[2021-12-01 13:33] naved001 commented on #461
It is Maas
https://maas.massopen.cloud/MAAS/#/domain/4

[2021-12-01 13:38] naved001 commented on #460
That is the MaaS network. The kaizen network document is only documenting the static allocation, and not the DHCP (not sure if it's being kept updated though).

And there are some portions of the subnet reserved:

https://maas.massopen.cloud/MAAS/#/subnet/1

![image](https://user-images.githubusercontent.com/20113064/144244248-362632ef-c7ac-490c-ba5f-f13ebb8c6b2b.png)

We should probably unallocat

[2021-12-01 13:48] larsks commented on #460
Actually, that's perfect. Keep the CNV reservation (maybe rename it "openshift dev"), because I could use a few static ips on that network.

[2021-12-01 13:50] naved001 commented on #460
Done, I renamed that.

[2021-12-01 14:18] larsks opened #462 "Write quota management requirements document"
@rob-baron has asked me to write up a document describing my view of how a future onboarding system should handle quota management.

[code]

[2021-12-01 14:32] larsks commented on #461
There was a wildcard entry in MaaS mapping `*.hil.massopen.cloud` to `127.0.0.1`. Removing this wildcard entry fixes the errors in the installer.

[2021-12-01 14:32] #461 closed

[2021-12-01 14:53] larsks commented on #460
I think all my questions here are answered. Thanks @naved001!

[2021-12-01 14:53] #460 closed

[2021-12-02 20:12] msdisme commented on #438
@naved001 suggests coolest, and Hakan concurs and will put them in top where the cables are least dense.  @larsks sound good to you, or any other operational/usage concerns to take into account.

[2021-12-02 20:17] larsks commented on #438
I defer to Hakan and Naved on this.

[2021-12-02 22:44] larsks opened #463 "Ask about lease changes for CSAIL-10 network"
During the [recent outage for the smaug cluster](https://github.com/operate-first/SRE/issues/430). some nodes lost their addresses because their DHCP leases expired while the network was offline. This means when the network was restored these nodes did not come back online without some manual intervention.

We should probably make some changes to DHCP on this network. There are two options:

1. In

[2021-12-06 18:59] larsks opened #464 "What caused the network outage on Friday?"
The smaug cluster (rack OCT-3) lost network connectivity for at least an hour on Friday. @hakasapl suggested there may have been some maintenance going on in the data center that caused the outage. Can we get details on that Including which devices and ownership of those devices - this will help identify who to engage?

[2021-12-07 02:16] msdisme commented on #400
Done.  Will create initial one with opencloudinitiative.net

[2021-12-07 16:40] msdisme opened #465 "Notification of standard biweekly maintenance window."
Based on frequency of updates to OCP set a standard

[2021-12-07 16:42] msdisme commented on #416
@hakasapl any updates?

[2021-12-07 16:43] hakasapl commented on #416
I checked on this a few weeks back and everything is correct. If the link isn't coming up in the OS it would have to be a firmware issue. I can try switching it to a different port?

[2021-12-07 16:44] naved001 opened #466 "Change update channel of `ocp-prod` cluster from `fast` to `stable`"
While fast channel is considered production quality, we don't need to rush to get those updates.

[2021-12-07 16:55] rob-baron commented on #427
This was proposed, and no consensus was reached and is now currently being implemented:

https://docs.google.com/document/d/1JoHY88HR-hcvdFEUAwROxvIJyOddGxjuZdeG_Q-v4lk/edit#heading=h.debi4olqvaif

[2021-12-08 14:44] #457 closed

[2021-12-08 15:16] msdisme commented on #458
assumption that this will happen organically via slack channel.  @hpdempsey @gagansk

[2021-12-08 15:16] #458 closed

[2021-12-08 17:17] hakasapl commented on #464
There is not a clear reason for the network outage last Friday.

The switch that went down which caused the outage is a Dell Z9100-ON switch (OCT-HUB-3), which is used as the core distribution switch for OCT in row 1 of MGHPCC (which includes OCT[1-4] racks). This switch is owned by UMass as part of the OCT project and operated by me. This switch completely lost power and was unreachable for about

[2021-12-08 17:38] rob-baron commented on #419
I was able deploy the current version of XDMod using this repository (https://github.com/ubccr/hpc-toolset-tutorial).  I previously tried to install from instructions found here (https://open.xdmod.org/9.5/index.html), but was unable to successfully install either from source or from rpm.

The problems that I have seen so far are:

1. It seems to have accounts for the people running the tutorial
2

[2021-12-09 20:36] msdisme commented on #312
update based on various threads/discussions:
OCT 5 is expansion rack SMAUG - DPU’s going there (already configured for 100gb)
OCT 7 OCT General and Cloudlab-GPU’s there (~18 slolts free as of 12/9/21) R730’s

GPU's to OCT 7 due to need for larger chassis.

[2021-12-09 20:38] msdisme commented on #438
update based on various threads/discussions:
OCT 7 OCT General and Cloudlab-GPU’s there (~18 slolts free as of 12/9/21) R730’s

GPU's to OCT 7 due to need for larger chassis.

[2021-12-09 20:38] msdisme commented on #212
Any update on the DPU order?  We have the machines in smaug cluster, we have the 100GB connections....

[2021-12-09 21:39] msdisme opened #467 "January 2022 timeframe, identify a person to act as MOC in ESI use case testing"
As Naved will be on PTO for the first 2 weeks we should identify who will do this and do some planning.

[2021-12-09 22:02] msdisme opened #468 "Review SRE training materials"
MOC is pulling together SRE training documentation and would appreciate feedback, specifically from the MOC perspective but more broadly as well.

[2021-12-10 17:13] #466 closed

[2021-12-12 20:59] msdisme opened #469 "Log4Shell - Remote Code Execution - log4j"
I will open several related issues attached to this milestone: https://github.com/CCI-MOC/ops-issues/milestone/12.   Please review and add any I may have missed.

A critical vulnerability has been discovered in log4j that is actively being exploited.  This is an issue both for systems and web administrators on campus, including those who support products with a web interface, as well as requiring

[2021-12-12 21:04] msdisme opened #470 "Log4J exploit - Review Web Server Logs"
In addition, if you are running a vulnerable version you should review your web server logs for indication of compromise.  You can search your logs using the egrep command below to find exploit attempts.  If you find entries that appear to have succeeded based on return codes, please reach out to the Incident Response Team (irt@bu.edu).

- `egrep -i -r '\$\{jndi:(ldap[s]?|rmi|dns):/[^\n]+' {insert

[2021-12-12 21:19] msdisme opened #471 "log4j: Affected RH Software and mitigation"
Blocked by: https://github.com/CCI-MOC/ops-issues/issues/470 - need to confirm that these updates do not prevent reviewing logs before starting this work.

Affected RH Products - bold the ones we are running @naved001 @larsks please review the bolding:
The following Red Hat product versions are directly affected:

- **Red Hat CodeReady Studio 12 ??**
- Red Hat OpenStack Platform 13
- Red Hat Integ

[2021-12-13 00:32] msdisme opened #472 "Email Service providers about Log4Shell - log4j"
Contact MOC vendors with mail below:

- [x] siteground (web sites)
- [x] asana - proj mgmt
- [x] osticket
- [ ] smartsheet
- [ ] AWS?
- [x] bitwarden

Email Template for Contacting Vendors

As you may be aware, there is a major exploit in the wild targeting the Apache log4j library. We are requesting a status update from you as to if we are vulnerable or not and if so, what are you doing to addres

[2021-12-14 15:26] larsks opened #473 "Configure backups for Noobaa PV"
To avoid the problems we recently hit on the smaug cluster, arrange for a periodic snapshot of the Noobaa database PG as described in https://access.redhat.com/solutions/5843261.

[2021-12-15 15:52] naved001 commented on #463
Sent out an email asking about it.

[2021-12-16 15:27] naved001 opened #474 "Dual connect OCT4 nodes"
@DanNiESh [pointed out](https://github.com/CCI-MOC/esi/issues/176#issuecomment-995270271) that the undercloud (oct-00) and overcloud nodes (oct4-01, oct4-02, oct4-03)  need to have dual connections.

Would be best if all nodes have dual connections if we available switchports, but starting with those 4 nodes will unblock the ESI deployment.

[2021-12-20 21:59] naved001 commented on #451
| Server | Note |
|-|-|
| OCT5-08 | no drive |
| OCT5-10 | what's the IPMI password? |
| OCT5-30 | ipmi unreachable |
| OCT5-34 | no drive |
| OCT5-35 | ipmi unreachable |
| OCT5-38 | no drive  |

[2021-12-21 18:24] larsks opened #492 "Fix netbox/keycloak group names"
We should disable the "Full group path" option in Keycloak so that group names are reported without a leading `/` (e.g., right now we have `/netbox-admin` instead of `netbox-admin`. Once we make this change we can revert CCI-MOC/moc-apps#125 .

[2021-12-22 15:49] naved001 commented on #463
That should be sufficient I guess. Probably would require some client side configuration to request the max lease time of 24 hours if we wanted that.

[2022-01-04 18:20] DanNiESh commented on #474
@hakasapl, hi! Do the nodes (oct4-01, oct4-02, oct4-03) have dual connectivity now?

[2022-01-10 18:05] cooktheryan commented on #438
@msdisme is there any update on this?

[2022-01-10 18:22] larsks commented on #474
@hakasapl is out of the country until 1/24. I think that means that we will need to wait until then for the changes at the datacenter, but I will check in with @msdisme to see if there are any other options.

[2022-01-11 16:49] msdisme commented on #468
@hpdempsey is there an eta on these docs?

[2022-01-11 16:51] msdisme commented on #335
pending reracking plan.

[2022-01-11 16:52] #427 closed

[2022-01-11 16:53] #338 closed

[2022-01-11 16:53] #464 closed

[2022-01-11 16:59] msdisme opened #475 "Ask Marion if she can coordinate a regular report on our recurring charges"

[2022-01-11 17:00] hakasapl commented on #438
I will install these the week of the 24th (when I am back in the country) but the nodes themselves may be unavailable for another week due to the need to setup the upstream switching which is currently not set up.

[2022-01-17 14:49] larsks opened #476 "ocp-prod node neu-15-9-compute is offline"
We're receiving some alerts in the mocops channel; upon inspection, it looks like node neu-15-9-compute.ocp-prod.massopen.cloud is showing `NotReady`. I'm starting to take a look at this right now.

[2022-01-17 15:09] larsks commented on #476
`ip addr` shows no link on this interface:

[code]

I would suspect a switch port issues, except that `ethtool` reports "No such device":

[code]

I'm going to try rebooting the system and see what happens.

[2022-01-17 15:29] larsks commented on #476
Rebooting the system seems to have cleared things up.

[2022-01-17 15:55] #476 closed

[2022-01-18 14:12] naved001 opened #477 "Replace drive in neu-5-15 (ceph OSD, dell poweredge r720)"
<img width="565" alt="image" src="https://user-images.githubusercontent.com/20113064/149953171-75260417-38e1-4c58-9ffb-ca57d1bae944.png">

It'll take a 10TB drive, slot 1.

[2022-01-18 16:29] msdisme opened #478 "Search to exclude esi from backlog search"
Seeing all the ESI project issues in our issue searches clutters things up and complicates things like backlog planning. Can we develop a search that excludes ESI issues?

[2022-01-18 16:40] #220 closed

[2022-01-18 16:41] #275 closed

[2022-01-18 16:45] #463 closed

[2022-01-18 16:47] #454 closed

[2022-01-18 16:51] #470 closed

[2022-01-18 16:51] #469 closed

[2022-01-18 16:52] #471 closed

[2022-01-18 16:52] #472 closed

[2022-01-18 18:16] naved001 commented on #415
PR here: https://github.com/CCI-MOC/moc-apps/pull/123

[2022-01-19 13:06] #462 closed

[2022-01-25 16:34] rob-baron commented on #422
Just to clarify, the first action item is to have xdmod running in a container connecting with mysql/mariadb and mongodb running in respective containers in order to develop and configure the OpenStack script and to develop a new OpenShift script in order to import data from initially OpenStack and eventually OpenShift.

[2022-01-25 16:39] msdisme commented on #438
Bumped this higher- hoping you can get them at least installed this week.

[2022-01-25 16:41] #226 closed

[2022-01-25 20:44] hakasapl commented on #438
I can install them in OCT7 (the 2u nodes), but I will also have to work out the network there since that rack is not currently connected.

[2022-01-26 17:09] hakasapl commented on #474
These connections are all set, for the 2nd port on each NIC:
[code]
@naved001 can you set up those switchports and let me know if anything isn't working?

[2022-01-26 17:12] hakasapl commented on #477
Drive replaced.

@msdisme we need to order more 10T drives I believe this was the last one.

[2022-01-26 19:08] naved001 commented on #474
@hakasapl I tested OCT4-00 and it has connectivity. I'll take a look at the other nodes

[2022-01-27 15:22] hakasapl commented on #438
I was not able to install these because they require PSU power cables. The ones we have on hand are made for newer generation dell servers so they will not work. I'm working on ordering PSU cables.

[2022-01-27 17:09] naved001 commented on #477
thanks! I r[ecreated the OSD](https://github.com/CCI-MOC/ops-issues/issues/327#issuecomment-895424255), it is back up now.

[2022-01-27 21:38] msdisme commented on #474
@hakasapl @hpdempsey  this is the ticket we were discussing.

[2022-01-31 20:29] hakasapl commented on #438
PSU power cables are being ordered and will be here for me to get these installed the week of the 7th.

[2022-01-31 21:04] msdisme opened #479 "massopen.cloud not responding"
massopen.cloud is not responding.  msd gathering info and passwords, will update here.

Spoke with siteground who a pointing the finger at elementor (plug in).    in the process of getting into our elementor account.
[php_errorlog.txt](https://github.com/CCI-MOC/ops-issues/files/7974268/php_errorlog.txt)

[2022-01-31 21:11] msdisme commented on #479
Doing a restore to files and databases from friday to see if that fixes.  May also be related to an update to wordpress.

[2022-01-31 21:15] msdisme commented on #479
rolling back to friday seems to have resolved the problem.  closing for now.

[2022-02-01 16:24] msdisme commented on #474
@DanNiESh added you to this issue, please advise if you have problems.  We believe the cablng part is done.

[2022-02-01 16:25] DanNiESh commented on #474
@msdisme I don't have any network problems so far. Thanks!

[2022-02-01 16:28] #320 closed

[2022-02-01 16:31] #455 closed

[2022-02-01 16:31] #459 closed

[2022-02-01 16:34] #415 closed

[2022-02-01 16:38] larsks opened #480 "Requirements for ESI testing"
The rack of hardware that has been assigned to the ESI Project contains a total of 13 nodes (3 controllers and 10 additional nodes, details [here](https://docs.google.com/spreadsheets/d/1V4_24MEQvpQaEIWOY9CT3zMeu_7llBagkYRxAIsJ1a4/edit#gid=748212895).

The switch is a Dell S4048.

Is this appropriate for the initial round of ESI testing?

[2022-02-01 22:02] larsks commented on #479
There are php stack traces in our `php_errorlog`. Some examples:

[code]

[2022-02-01 22:22] larsks commented on #479
@msd I've rolled back the site and selected the "skip update" button, which will prevent the update from WordPress 5.8.3 to 5.9. We can use the staging site to confirm the update is safe (or not).

[2022-02-01 22:34] larsks commented on #479
Huh, it seems to have updated *anyway*, but the problem isn't reproducing.

[2022-02-01 23:19] msdisme commented on #479
Lars restored from security->backups and then did updates of plugins, disabled updates for 5.8.3 worpress to 5.9 and keeping an eye on it.

[2022-02-02 14:19] #477 closed

[2022-02-02 14:20] naved001 opened #481 "Order 10TB drives for our ceph cluster"
We are out of spare 10TB drives.

[2022-02-02 14:23] naved001 commented on #456
@skanthed now that the `koku-metrics-operator` is installed on ocp-staging cluster, and you have access to the namespace, is there anything else that needs to be done? Thanks!

[2022-02-02 15:55] skanthed commented on #456
Not for now! Today I will deploy the database instance in that namespace and then the curator project. I will let you know if any further help is required.

[2022-02-03 16:36] larsks commented on #473
It looks as if https://backube.github.io/snapscheduler/ may be of interest for resolving this.

[2022-02-03 21:35] msdisme commented on #480
I would like us to talk about this, in the context of this testing doc: https://docs.google.com/document/d/12G4w9Os2bIUbL8ZadxCYVUSU0ZOo12_YW-6dAaWM0DA/edit  on fridays the 4th.

[2022-02-04 19:08] larsks opened #482 "Create s3 bucket in ceph for netbox backups"
For #434, we need an S3 bucket to hold database backups. We can create one on the Ceph cluster, although ultimately that's not the best place for it because our underlying PV storage comes from the same cluster.Once NERC is offering object storage we should use that by preference.

[2022-02-04 22:18] larsks commented on #482
With @naved001's help I restored the VIP on our internal rgw servers (see #247). Looks like I need to arrange to assign hostnames and set up a certificate.

[2022-02-05 00:54] larsks commented on #482
In order to support SSL connections to the RGW servers I've made the following changes on the RGW servers:

- Install certbot
- Create int.massopen.cloud domain in AWS
- Create `certbot-rgw` IAM user with appropriate access to the `int.massopen.cloud` domain
- Create `A` records for:
  -  `rgw-j-vip.int.massopen.cloud`
  -  `rgw-j-01.int.massopen.cloud`
  -  `rgw-j-02.int.massopen.cloud`
- Configu

[2022-02-07 00:51] larsks opened #483 "ocp-prod node neu-15-9 is down"
ocp-prod node neu-15-9 is reporting `NotReady`:

[code]

Logging into the node, it looks like we've lost the public interface:

[code]

Looking at the kernel logs, I see:

[code]

I think we've seen this problem before, although I don't think we've looked specifically at the kernel logs. I'm going to reboot the system and see if it recovers.

[2022-02-07 01:13] larsks commented on #483
It looks like a reboot resolved the problem. Leaving this open until tomorrow, since I can't remember if this is the same system we've experienced this on in the past.

[2022-02-07 01:27] naved001 commented on #483
#476
Looks like it is the same system.

[2022-02-07 15:10] larsks opened #484 "Monitoring unhealthy on ocp-prod"
We're seeing a [critical alert][] on ocp-prod:

[critical alert]: https://alertmanager-main-openshift-monitoring.apps.ocp-prod.massopen.cloud/#/alerts?receiver=Critical

[code]

I assume this is related to #483 but I'm tracking it separately, since the problem has persisted after neu-15-9 came back up.

[2022-02-07 15:13] larsks commented on #484
There were two failing pods in `openshift-monitoring`, both scheduled on neu-15-9:

[code]

[2022-02-07 15:35] naved001 commented on #483
@hakasapl do we have any 10G nics at the data center? If not, I am pretty sure we have plenty at BU and we can arrange for those to be picked up.

[2022-02-07 15:50] larsks commented on #483
We will be able to take the node offline for maintenance.

[2022-02-07 15:51] naved001 commented on #483
@hakasapl when is your next MGHPCC trip planned?

[2022-02-07 15:52] hakasapl commented on #483
This Friday, the 11th.

[2022-02-07 15:52] larsks commented on #484
I tried this just to get things running:

[code]

This forced the pods to deploy on other nodes, and things eventually stabilized. I've since `uncordon`-ed the node, and I'm testing out deploy pods to it explicitly.

[2022-02-07 15:55] naved001 opened #485 "MGHPCC: replace nic on neu-15-9"
we'll power off the node for maintenance on Wednesday the 16th of feb.

[2022-02-07 16:06] larsks commented on #484
This is more of #483.

[2022-02-07 16:06] #484 closed

[2022-02-07 17:20] larsks commented on #483
There appears to be an nmstate problem with the cluster:

[code]

[code]

[2022-02-07 18:53] naved001 opened #486 "Cannot get into privileged mode on `oct-hub-1` and `oct-hub-2` switches"
@hakasapl I dont see an error message either. I login as the admin user.

[code]

I want to trunk a VLAN, but I am blocked on this for now.

[2022-02-07 20:05] hakasapl commented on #481
Marion has ordered 10 more of these.

[2022-02-07 20:05] hakasapl commented on #486
Noted for a fix on Friday, 11th.

[2022-02-07 20:10] #416 closed

[2022-02-07 20:24] #23 closed

[2022-02-07 20:28] naved001 opened #487 "MGHPCC: Dual connect nodes in OCT5"

[2022-02-07 20:29] naved001 opened #488 "MGHPCC: Dual connect nodes in OCT6"
@msdisme what cluster is this for?

[2022-02-07 20:30] naved001 opened #489 "MGHPCC: Dual connect nodes in OCT7"
That's where the GPUs will go I think

[2022-02-07 20:31] naved001 opened #490 "Fix port speed issue in OCT5"
The switchports need to be set to 10G to work. @hakasapl is going to update the switch firmware after talking with dell.

[2022-02-07 20:35] msdisme commented on #223
Dun Dun

[2022-02-07 20:35] #223 closed

[2022-02-07 20:39] naved001 opened #491 "Add compute capacity to `smaug` openshift cluster"
@larsks are we running low on resources on the `smaug` cluster? Asking this so we can prioritize the rack preparation.

[2022-02-07 20:40] naved001 commented on #491
didn't know if there was an issue open somewhere else, but wanted to have this tracked somewhere.

[2022-02-07 20:40] msdisme commented on #489
Priority high for the GPU nodes;  Once those are done the rest of the rack is lower priority- see order in backlog

[2022-02-07 20:50] naved001 commented on #337
we may have some spares, so we won't have to buy

[2022-02-07 20:58] larsks commented on #491
I'll check in with the operate first folks.

[2022-02-07 20:59] larsks commented on #491
But if the alternatives are "add nodes to smaug" vs "add nodes to ocp-prod", I would prioritize ocp-prod given the relative cluster sizes.

[2022-02-08 16:21] #467 closed

[2022-02-08 16:23] #335 closed

[2022-02-08 16:35] #293 closed

[2022-02-08 16:37] larsks commented on #202
We have access to some email services through siteground. Do we want to take advantage of those?

[2022-02-08 16:39] #307 closed

[2022-02-08 16:40] #341 closed

[2022-02-08 16:45] #258 closed

[2022-02-08 16:51] larsks commented on #261
@msd says that ideally we'll follow NERC/Operate First.

[2022-02-08 16:51] #143 closed

[2022-02-08 16:53] #93 closed

[2022-02-08 16:54] msdisme commented on #78
Closing.  Work going on with seagate drives which is a better thing.

[2022-02-08 16:55] #255 closed

[2022-02-08 16:56] #230 closed

[2022-02-08 16:56] #382 closed

[2022-02-08 16:57] #212 closed

[2022-02-08 16:58] msdisme commented on #212
Closing until it comes up again.

[2022-02-08 17:00] #221 closed

[2022-02-08 17:51] naved001 commented on #330
this was brought up in the moc backlog grooming meeting, I ended up destroying the osd and then recreated it. `ceph-volume lvm zap` didn't take long actually.

All OSDs are now up and in.
[code]

[2022-02-08 17:51] #330 closed

[2022-02-09 15:40] naved001 commented on #451
@hakasapl looks like I can't reach the IPMI of any node's in OCT5.

[2022-02-09 15:43] naved001 commented on #451
according to the [documentation](https://docs.massopen.cloud/en/latest/clusters/kaizen2/Kaizen-2.html#oct-umass-switch-management-vlan-207-10-1-0-0-24) it looks like the management switch is at 10.1.0.55 and it's not responding.

[code]

I can reach the data switch (10.1.0.15) just fine.

[2022-02-09 15:44] naved001 commented on #465
@msdisme can I send this message to our openshift users?

[2022-02-09 19:24] msdisme commented on #465
Lets say first and third monday of the month and add it as a mention on the web site status spot in a way that makes it continue to be visble.  Also, what time of day?

Hello OpenShift Users

    From now on we will be updating our OpenShift4 cluster on the first and third monday over every month at x:xx time EST.

 We will not send announcements before these updates since they should not be notic

[2022-02-09 19:29] naved001 commented on #465
good Idea, don't know how to do it, but will take a look at that.

Let's say 10:00 AM.

So the final message becomes:

[2022-02-10 16:42] #425 closed, assigned to msdisme

[2022-02-10 17:01] msdisme commented on #465
[drop link into the ticket ](https://github.com/CCI-MOC/moc-status) has details on how to create status items,  this has actual posts: https://github.com/CCI-MOC/moc-status/tree/gh_pages/_posts and this is the template.md:https://github.com/CCI-MOC/moc-status/blob/gh_pages/_posts/template.md

[2022-02-10 21:29] naved001 commented on #465
done.

[2022-02-10 21:29] #465 closed

[2022-02-11 22:12] hakasapl commented on #486
This should be fixed now.

- Hakan

[2022-02-14 14:26] naved001 opened #493 "create a github team to access certain private repo"
This came up because @joachimweyl does not have access to github.com/cci-moc/sprint-notes

[2022-02-14 14:29] naved001 commented on #493
I have added @joachimweyl directly so he's not blocked on it. Once we have a team, we can remove him.

[2022-02-14 14:42] cooktheryan commented on #438
@hakasapl I was just wondering if the cables came in

[2022-02-14 20:54] naved001 commented on #474
@hakasapl is it possible to dual connect two more nodes in the same rack this wednesday?

oct4-04 and oct4-05.

[2022-02-15 16:22] #481 closed

[2022-02-15 16:42] msdisme commented on #468
@msdisme to nudge, will close on feb 21 if not

[2022-02-15 21:52] msdisme commented on #386
expansion to additional users blocked by https://github.com/CCI-MOC/ops-issues/issues/487

[2022-02-16 00:38] joachimweyl opened #494 "Create documentation for migration from MOC projects to NERC"
- [x] Validate still correct details - this was engage1 to kaizen::  [migrate engage to kaizen new](https://docs.google.com/document/d/1wNM8CQ_EFmMtp6FXOm6QzzK-hhZeRTGMKatqZRGhE94/edit?usp=sharing)  - this is different because we probably want to have them do the move.  - Not still correct but we have gathered what we can from these.
Another doc to cross-reference: [NewKaizen Email](https://docs.g

[2022-02-16 00:43] joachimweyl commented on #494
- [ ] Validate still correct details - this was engage to kaizen::  https://docs.google.com/document/d/1wNM8CQ_EFmMtp6FXOm6QzzK-hhZeRTGMKatqZRGhE94/edit  - not this is different because we probably want to have them do the move.  Another doc to cross-reference: https://docs.google.com/document/d/1izIWvMn9TZVY-EJaHqimrGz38vbHmW8whmww-3BwX_0/edit
- [ ] @joachimweyl Outline for review at NERC meeting

[2022-02-16 00:46] joachimweyl opened #495 "Identify “friendlies” to pilot the MOC to NERC migration doc"
- [x] @joachimweyl track down form/survey that requested users to decide if they are interested in migrating from MOC to NERC
- [x] @joachimweyl work with Milson to get "friendlies" to test the migration
- [x] blocked on #596
- [x] @joachimweyl have at least 2 "friendlies" test
    - [x] FPGA - blocked on #600
    - [x] SAIL (starting, but we are gonna send mail anyway)
- [x] @joachimweyl send it

[2022-02-16 00:52] joachimweyl commented on #495
- [ ] @joachimweyl track down form/survey that requested users to decide if they are interested in migrating from MOC to NERC
- [ ] @joachimweyl send it out again to get an up to date response
- [ ] @joachimweyl provide a current list of projects that want to migrate to the NERC based on indicated desire to move to the NERC in response to the survey.

[2022-02-16 13:29] #440 closed

[2022-02-16 14:23] naved001 commented on #456
closing this now that we have this up and running on ocp-staging.

[2022-02-16 14:23] #456 closed

[2022-02-16 19:10] joachimweyl opened #496 "Gather a guesstimate of the size of MOC for NERC migration"
- [x] @joachimweyl gather data from the survey
- [x] @joachimweyl learn enough OpenStack to gather the data below through CLI, according to @larsks [CLI script](https://github.com/joachimweyl/kaizen-stats) can pull at least server_count, flavor_ram, flavor_vcpus, volume_count, volume_size, floating_ips see [results spreadsheet](https://docs.google.com/spreadsheets/d/1tlYSmhvELI9Lz63u0WyhB3ntT7JAGs

[2022-02-17 01:10] hakasapl commented on #485
NIC replaced, I left the node powered off but the iDrac should be up

[2022-02-17 01:15] hakasapl commented on #474
4 and 5 are all set:
[code]

[2022-02-17 03:38] hakasapl commented on #489
GPU nodes have second ports (only 3):
[code]

[2022-02-17 03:39] hakasapl commented on #438
GPUs are installed in three nodes (OCT7-19, OCT7-18, and OCT7-17), I will be in contact with @naved001 for getting into the network in that rack as a next step.

[2022-02-17 03:55] hakasapl commented on #451
Should be reachable now

[2022-02-17 14:19] naved001 opened #497 "Figure out and document how to build windows server images for openstack"
A group from Harvard is interested in running windows on NERC openstack.

[2022-02-17 15:16] hakasapl commented on #438
Hi All,

Some bad news unfortunately. Last night after I had installed the three GPUs I decided to boot the first node so I could make sure the iDrac was set to DHCP and all that before I left.

Initially, the node did not boot at all, as in nothing happened when I pressed the power button.

I decided that this is most likely due to the PSU not having enough power for the P100 (currently a 750W).

[2022-02-17 15:28] hakasapl commented on #438
A third possible cause:
* GPU wasn't slotted in all the way which caused some pins to short in the socket (The GPUs were slotted in as far as the PCIe bracket on the card let me push them in, so the bracket was flush with the chassis in the end, which all looks normal, but if for some reason the PCIe bracket on the GPU doesn't match the exact length of the chassis, maybe it was not slotted in all

[2022-02-17 15:32] larsks commented on #497
This might be useful: https://blog.oddbit.com/post/2014-11-15-creating-a-windows-image-for-o/

Because Windows is commercial software, we will also need to investigate the licensing issues involved in making it available in our cloud environments.

[2022-02-17 19:40] naved001 commented on #497
That is a good question. I guess we should be asking Microsoft this question?

[2022-02-17 20:09] larsks commented on #497
But were you able to provision the administrative credentials from the cloud metadata? Because that's going to be the key feature we need if we're offering an image that other people can consume (rather than simply providing them with instructions how to create their own).

If BU has a microsoft rep, that would probably be the best place to start. @msdisme @joachimweyl is that something you folks

[2022-02-18 14:27] naved001 commented on #497
Yes, I tested this today. nova gave me the password for user `Admin` and then with that I could login via RDP. Looks like I had to explicitly allow RDP connections, so that's a change I'd have to make when preparing the image.

Yesterday I looked at the console and it asked me to create a password for the `Administrator` user and logged in that way.

[2022-02-18 16:22] naved001 commented on #485
We swapped the switchport configuration and now both ports are on the correct networks.

[2022-02-18 16:22] #485 closed

[2022-02-18 19:24] naved001 commented on #474
Thank you!

[2022-02-18 19:24] #474 closed

[2022-02-18 19:46] naved001 commented on #451
thanks.

here's the current summary of the hardware in oct5. I guess this could be taken care of when you are working on oct5 hardware.

| Server | Note |
|-|-|
| OCT5-08 | no drive |
| OCT5-10 | what's the IPMI password? |
| OCT5-30 | ipmi unreachable |
| OCT5-34 | no drive |
| OCT5-35 | looks like it's broken |
| OCT5-38 | no drive  |

[2022-02-21 13:01] TreeinRandomForest commented on #438
@hakasapl thanks for the update. yep, it makes sense to find the root cause before booting the other gpu nodes and risking more damage.

[2022-02-22 16:20] larsks commented on #497
My specific question is: If we provide a Windows cloud image for users of our cloud environment(s) to run, are *we* responsible for licensing Windows in that environment, or is the person deploying the image responsible for licensing the image?

[2022-02-22 16:24] rob-baron commented on #497
I agree with larsks that we need to provide information as to how to obtain a valid license for our public cloud.

[2022-02-22 16:25] #126 closed

[2022-02-22 16:28] knikolla commented on #3
With Kaizen being phased out, and the adjutant based onboarding system no longer being developed, this issue is no longer relevant.

[2022-02-22 16:28] #3 closed

[2022-02-22 16:28] larsks commented on #215
This is part of a larger issue related to the new EULA, etc.

[2022-02-22 16:28] #215 closed

[2022-02-22 16:30] msdisme commented on #497
The following makes it interesting - for BU users, currently, BU is actually an owner of the hardware.    Also, we are not officially a "public"  cloud in that it is not available to anyone.

_Boston Universities licensing for Windows, Windows Server, SQL Server has a feature we call license portability. This allows BU to use your licenses on any hardware you own or is dedicated to BU’s use. Examp

[2022-02-22 16:43] hpdempsey commented on #215
Michael and Bill have taken over working on this issue, which will return when they have some agreement with BU and Red Hat, so it would be more appropriate to move it to BackLog, instead of done.

[2022-02-22 17:24] msdisme commented on #497
@naved001 - is the issue that a group from harvard wants to do this on the MOC, or is the issue that Milson is asking what the appropriate thing to do is for NERC users?|

[2022-02-22 17:34] naved001 commented on #497
correct, that's what he's asking. And he was wondering how the MOC has handled in the past when we provided windows images.

[2022-02-22 17:36] larsks commented on #215
@hpdempsey because this seemed like a very small subset of the larger issue (especially with most services getting ready to move to the NERC), we figured it was more appropriate to close this one during our planning meeting this morning.

[2022-02-22 18:27] msdisme commented on #497
Discussed further with @joachimweyl , and reread the response.
For Milson: Historically we have made images available, without licenses.  In order to use the images the user must provide a license.    This moves the "figure out the license" responsbility to the user who *should* have the most knowledge of their use case.

[2022-02-22 19:07] hpdempsey commented on #215
@larsks if that means Michael is planning to make a new one when it comes back, then that makes sense.  Thanks for the note.

[2022-02-22 20:33] naved001 opened #498 "LARGE_OMAP_OBJECT in ceph"
Seeing this new warning on our production ceph cluster.
[code]

Need to take a look and see what's the problem and how to fix it.

[2022-02-23 01:25] msdisme commented on #215
That’s the plan ☺.

---
Michael Daitzman (He/Him)
***@***.***
cell:978-201-9965

From: Heidi Picher Dempsey ***@***.***>
Date: Tuesday, February 22, 2022 at 2:08 PM
To: CCI-MOC/ops-issues ***@***.***>
Cc: Daitzman, Michael S ***@***.***>, Assign ***@***.***>
Subject: Re: [CCI-MOC/ops-issues] Clarify rules of use for hardware in OCT/MGHPCC/MOC (#215)

@larsks<https://github.com/larsks> if that mean

[2022-02-23 18:14] msdisme commented on #496
Separate topic, we should give them a heads up, we have a number of FPGA users from non BU/HU and are assuming other places to host them.

[2022-02-24 14:14] larsks opened #499 "Connectivity on port 8880 between virtual machines in virtual rose project"
We spoke with @sleviim this morning about upcoming requirements for the virtual rose project. For their final session(s), they need students to be able to connect directly between virtual machines on port 8880. They've been unsuccessful doing this so far, so we need to investigate if we need to make any configuration changes to enable this connectivity.

[2022-02-24 14:22] naved001 commented on #499
sidenote: If their service is running on any other address besides the localhost, I imagine sshuttle could make it accessible.

[2022-02-25 15:28] larsks commented on #499
@sleviim it *is* possible to connect directly between virtual machines, but you need to use the ip address of the [pod](https://kubernetes.io/docs/concepts/workloads/pods/) that contains the virtual machine, which is going to be a slightly non-obvious process: for a given virtual machine (say, "lars"), you would get the appropriate value by running:

[code]

That's not terribly convenient.

A bett

[2022-02-28 13:57] larsks commented on #499
@sleviim just wanted to check in and see if you had a chance to test this out.

[2022-02-28 15:25] sleviim commented on #499
Hi @larsks,
Thanks for checking :)
We had no chance to verify it yet, as we're thinking this is might not be completely what we meant to.
While running the competition, we have only 1 server session running on port 8880 (usually it was on my own laptop), and each student, from his machine, was able to connect my running server with the specified command:
./rose-client -s <my-ip> <the-student-drive

[2022-02-28 15:40] larsks commented on #499
@sleviim I apologize; I'm not able to follow your last comment. It's unclear to me if things are configured the way you want or not, or if you've encountered some sort of difficulty. As things are configured right now, you are free to connect between all the virtual machines on port 8880. Is there something you're not able to do at the moment?

[2022-02-28 16:27] sleviim commented on #499
@larsks I'm not sure how the configuration helps me to deal with the problem of running the file from 1 VM on the other VM where the server is actually running.

For example:
- The server is running on VM 128.52.61.139 with ./rose-server
- I can view the running server on my local comp by using:
  ssh -L 8880:127.0.0.1:8880 centos@128.52.61.139
- Player 1 wants to run his driver john.py on the run

[2022-02-28 17:53] larsks commented on #499
This will tunnel port 8880, yes, but it's no longer necessary. For example, try connecting to http://128.52.61.134:8880; that's my test VM and you'll see you can access that service without any tunneling in place.

This should work just fine.

[2022-02-28 22:11] #482 closed

[2022-03-01 09:56] sleviim commented on #499
Cool :)

I've tried that but it doesn't work for me (attached screenshot [1])
In this example, the server is running on http://128.52.61.139:8880/
Tried to run the driver file from VM 128.52.61.145
`./rose-client -s 128.52.61.139 mydriver.py`

As seen in the screenshot, the driver is not there.
[1] https://imgur.com/a/uiGlEpK

[2022-03-01 13:11] joachimweyl commented on #496
Closing as Justin was happy with the data provided especially once we provided the spreadsheet with all of the data.

[2022-03-01 13:11] #496 closed

[2022-03-01 14:37] joachimweyl opened #500 "Stand up 6 bare metal machines, 3 for OpenShift and 3 for a Ceph cluster"
placeholder for outcome of discussion [here](https://massopencloud.slack.com/archives/C032CUHKEM7)
Needs date when we can stand up, also needs PI identified to own requirements.

[2022-03-01 14:57] larsks commented on #499
@sleviim can you install my ssh key (https://github.com/larsks.keys) on those hosts so that I can log in and take a look?

[2022-03-01 15:30] #434 closed

[2022-03-01 16:06] #479 closed

[2022-03-01 16:12] #468 closed

[2022-03-01 16:14] larsks commented on #135
Closing as too broad.

[2022-03-01 16:20] larsks opened #501 "Fix keycloak login screen template"
Current phrasing on the login screen is a little weird.

[2022-03-01 16:23] #114 closed

[2022-03-01 16:27] msdisme opened #502 "Enable Password plugin for osticket"
enable the password plugin for osticket so individuals may update their own passwords.

[2022-03-01 16:28] msdisme commented on #502
msd to do during 2:30 daily so that we catch problems immediately.

[2022-03-01 17:17] sleviim commented on #499
@larsks added it to the ~/.ssh/authorized_keys file in those 2 VMs
(VM 145 is currently in use by the student so please avoid removing files :))

[2022-03-01 18:23] larsks commented on #499
@sleviim I still don't understand the problem.

If I log into 128.52.61.139, there's nothing currently listening on port 8880.

On 128.52.61.145 I see that there is a service running, and I can access that from 128.52.61.139 without a problem:

[code]

If I start a service on port 8880 on 128.52.61.139...

[code]

I can reach that service from 128.52.61.145 without a problem:

[code]

And I can re

[2022-03-01 19:56] larsks commented on #499
@sleviim the problem appears to be that in addition to the web service on port 8880, the game also communicates between the client and server on port 8888, and this port was blocked in your firewall configuration.

You will need to run the following command on all the virtual machines:

[code]

With this change in place, I'm able to see a driver show up in my browser when I connect from one machin

[2022-03-01 20:15] sleviim commented on #499
Thanks, @larsks!

[2022-03-01 21:29] #502 closed

[2022-03-01 21:35] msdisme commented on #493
here are some examples where @joachimweyl is blocked:
https://github.com/orgs/CCI-MOC/projects/66#card-77812378
https://github.com/orgs/CCI-MOC/projects/66#card-77814356
https://github.com/orgs/CCI-MOC/projects/66#card-77810270

[2022-03-01 21:56] larsks commented on #493
@msdisme it's not clear from those links in what way @joachimweyl is blocked. Can you update that comment with some details (or add comments to the issues)?

[2022-03-01 21:59] larsks commented on #493
@joachimweyl is a member of the @CCI-MOC/ops team. That seems like it may be the right team to which we should grant access in most cases. What do other folks think?

[2022-03-01 22:26] larsks opened #503 "Create team mailing list and use it"
Let's create a team mailing list and use that when we want to sent out email communications to the team, rather than relying on a Cc: list. It's easy to accidentally exclude someone from email when manually maintaining a list of recipients like that.

[2022-03-02 01:11] larsks opened #504 "Upgrade ocp-staging to 4.9.21"
In preparation for next week's upgrade to ocp-prod, let's update ocp-staging.

[2022-03-02 01:12] larsks commented on #504
It looks as if one of the nodes is failing to reboot:

[code]

Looking at the journal, I see:

[code]

It looks as if OVS is wedged.

[2022-03-02 01:13] larsks commented on #504
I'm seeing what happens if I manually reboot the node.

[2022-03-02 01:13] larsks opened #505 "Upgrade ocp-prod to 4.9.21"
During our next maintenance window, let's upgrade the ocp-prod cluster to OpenShift 4.9.21.

[2022-03-02 03:25] larsks commented on #504
It looks like the update was successful.

[2022-03-02 14:42] naved001 commented on #437
I am going to call this done.

[2022-03-02 14:42] #437 closed

[2022-03-02 14:42] #436 closed

[2022-03-02 14:43] naved001 commented on #497
Milson documented this in detail here:

https://nerc-project.github.io/nerc-docs/openstack/advanced-openstack-topics/setting-up-your-own-images/how-to-build-windows-image/

[2022-03-02 14:43] #497 closed

[2022-03-02 14:44] naved001 commented on #504
great! I am going to close this one then.

[2022-03-02 14:44] #504 closed

[2022-03-02 14:45] #499 closed

[2022-03-02 14:54] larsks opened #506 "Platform for Shaw University"
Prof. Benjamin Branch at Shaw University is looking for a hosted Linux platform for a group of 5-10 students to get exposed to devops, software development, etc. They have asked us if we can provide an appropriate environment.

[2022-03-02 16:12] msdisme opened #507 "Run OSPurge on WorldMap assets"
Pending final blessing from WorlMap, plus some time run OSPurge to get rid of WorldMap assets.

[2022-03-02 21:44] msdisme commented on #312
Expect to be contacted by Kris Murphy at RH as per Hugh

[2022-03-03 16:13] joachimweyl opened #508 "Provide user access to NERC for testing and documenting purposes"
Who needs access? It would be helpful for me to have access as I will be working on this documentation Milson will need access. Who else would benifit from access?

- [x] @joachimweyl find out who can grant User access to NERC not a who, a [website](https://nerc-project.github.io/nerc-docs/get-started/user-onboarding-on-NERC/)
- [x] @joachimweyl request access

- [x] @joachimweyl gain access to VP

[2022-03-03 16:16] joachimweyl opened #509 "Test and Document steps to gather UUID data from the MOC"
- [x] @joachimweyl request [MOC project](https://massopen.cloud/request-an-account/)
- [x] @joachimweyl get MOC project approved
- [x] @joachimweyl set up a sample account
- [x] @joachimweyl test what a user will need to do to gather their UUID, test both with and without SSO
- [x] @joachimweyl document what a user will need to do to gather their UUID (users who do not know their login information

[2022-03-03 16:22] joachimweyl opened #510 "Test and Document steps to create empty projects in NERC and gather UUID's"

[2022-03-03 16:31] joachimweyl opened #511 "Test and Document steps to migrate MOC project to Swift on NERC"
- [x] review [nova to swift backup](https://blog.oddbit.com/post/2015-09-29-migrating-cinder-volumes-betwe/) (keep in mind we will use swift not nfs)

- [x] Help @larsks create a NERC Project
- [x] Enable cinder-backup service on MOC
- [x] Enable cinder-backup service on NERC
- [x] @larsks handoff steps to @joachimweyl for user testing
- [x] test migrating sample project from MOC to NERC using UUI

[2022-03-03 16:35] joachimweyl opened #512 "Test and Document steps to migrate MOC project to NESE and back to NERC"
- [ ] migrating sample project from MOC to NERC using UUIDs gathered from https://github.com/CCI-MOC/ops-issues/issues/509 and https://github.com/CCI-MOC/ops-issues/issues/510 utilizing NESE as a the storage location
- [ ] Document steps above so that users can follow, calling out any place where an automation script would be helpful/viable

[2022-03-03 21:36] krmurph commented on #312
Can you provide an update on whether or not DPUs are in any servers? Looking at updates it looks like no?  And DPUs were not purchased, but servers that they could go into were identified?

[2022-03-04 16:08] joachimweyl opened #513 "Spark project for Langdon for 30-50 students"
Count: 30-50 students
Instances: 1 CPU, 4GB RAM, 1-2GB Disk
Timing: Fall 2022, but would like a Beta program for the summer program starting May 31st

- Can be purely CLI
- 10-20 students logged in at a time under regular load
- 20-30 students logged in at a time during finals
- projects stay active 24/7
- Timing for fall would make sense to wait for NERC
- Timing for Beta might be pushing it for

[2022-03-04 21:43] #492 closed

[2022-03-07 13:33] naved001 opened #514 "netbox pvc is low on space"
There's an alert:

@larsks is there a gitops way to expand PVC size?

If I change the size in the [original manifest](https://github.com/CCI-MOC/moc-apps/blob/master/netbox/overlays/ocp-prod/postgresclusters/netbox.yaml#L16) would it delete and recreate it?

[2022-03-07 14:13] #449 closed

[2022-03-07 14:13] #505 closed

[2022-03-07 14:23] larsks commented on #514
@naved001 based on [this document](https://docs.openshift.com/container-platform/4.9/storage/expanding-persistent-volumes.html) I believe we can just update the size in the PVC manifest. That should be pretty easy to test, so I'm going to create a pvc and pod and test it out.

[2022-03-07 14:28] larsks commented on #514
But! The PVC is already 15GB, and it seems unlikely that we're actually consuming that much space with netbox data. Investigating one of the database pods, I see:

[code]

So the actual data is only consuming about 76MB, and the remainder is postgres write-ahead logs. I'm still going to try the pvc resize experiment, but I suspect the solution here is to find the necessary configuration in the PGO

[2022-03-07 14:32] naved001 commented on #514
that's `netbox-repo`. The 2 `netbox-pgha1` are 10GBs.

[code]

okay, makes sense.

[2022-03-07 15:20] hakasapl commented on #312
Servers are identified (OCT5), no DPUs have arrived yet at the facility.

[2022-03-07 15:34] larsks opened #515 "Investigate failed netbox database backups"
We are seeing failed netbox database backups:

[code]

Need to figure out what's going on here.

[2022-03-07 15:35] larsks commented on #515
Related to #514

[2022-03-07 15:42] krmurph commented on #312
How many watts of power do the PCIe slots provide in the identified servers?

[2022-03-07 15:45] hakasapl commented on #312
From the Dell R630 Manual:
[code]
Looks like the limit is 25W. Is that sufficient?

- Hakan

[2022-03-07 15:46] seroyer commented on #312
No, BlueField 2 DPUs require 75W slots

[2022-03-07 15:51] hakasapl commented on #312
Looking around forums people report that 75W is possible on these servers, but I am reluctant to go this route given the recent troubles we've had with GPUs smoking in the larger dell R730 servers.

Do you know what kind of servers DPUs are being deployed in currently? Do they get all their power from the PCIe slot or is there an external power connector?

- Hakan

[2022-03-07 16:13] seroyer commented on #312
I believe I've heard of them working correctly in R640 class servers.  I have tried to use one in an R630 and the card throws errors saying the slot is underpowered.

[2022-03-07 16:35] seroyer commented on #312
As for slot vs aux power, it depends on the cards.  DPUs with integrated BMCs I believe use aux power connectors, but ones without do not.  The cards we have now do not have BMCs or aux power connectors.

[2022-03-07 19:45] naved001 opened #516 "provision some node in oct5"
so Hakan can test the link between node and switch.

[2022-03-07 19:45] msdisme commented on #451
On Site week of March 14.

[2022-03-07 19:48] msdisme commented on #438
Confirm supported config, then discuss with Kevin@mghpcc, needs to be done outside and run GPU stress test (on loading dock, when not raining, with fire extinguisher)

[2022-03-07 19:49] msdisme commented on #490
Hakan to try with DAC   10G  cable for

[2022-03-07 19:49] cooktheryan commented on #438
:rofl:

[2022-03-07 19:56] msdisme commented on #312
We've some other hw coming in, we will cross reference what those can support.

[2022-03-07 23:30] larsks commented on #515
I ended up solving this by backing up the database, deleting the cluster, recreating it, and restoring the data. So that all worked, and things seem to be working now.

I think the root of the problem may have been some configuration errors in the S3 backup configuration that were largely due to poor documentation. Specifically, we hit:

- CrunchyData/postgres-operator#2836 -- despite it being a u

[2022-03-08 01:09] #515 closed

[2022-03-08 13:22] larsks commented on #514
The out-of-space situation was caused by failing backups (so WAL files were never expired). Details and resolution in #515.

[2022-03-08 13:22] #514 closed

[2022-03-08 15:03] krmurph commented on #312
Do you have server types that you normally plug GPUs into? I would think those server types are likely to have higher powered slots.

[2022-03-08 15:46] hakasapl commented on #312
We only have R630s and R730s available. Both have the same line in the manual. We have also used R740xds for higher-power FPGA cards, but those have external PSU connections, and all those nodes are occupied.

I will look over the HW coming in and see if I can spot something that works.

- Hakan

[2022-03-08 16:14] msdisme commented on #506
@joachimweyl do we need a follow up discussion/demo or is this being done via email exchanges?

[2022-03-08 16:17] naved001 opened #517 "FIx kumo brocade switch"
The switch can be pinged, but you can't SSH to it. It's at 10.0.21.24.

May need an assist from someone at MGHPCC to power cycle it.

[2022-03-08 16:24] msdisme commented on #507
Machines are off and locked.   when we shut down cluster and remove MOC Pools from ceph the equivalent will happen so no need to duplicate effort.

[2022-03-08 16:28] naved001 commented on #507
Here are the machines that are powered off and locked:
[code]

[2022-03-08 16:51] #507 closed

[2022-03-08 16:58] joachimweyl commented on #506
Yes, I am in the process of scheduling a demo meeting. I need to push again to get avalability. Thank you for the nudge.

[2022-03-08 19:30] larsks opened #518 "Update external-secrets operator"
The external-secrets operator we deployed has been [deprecated][] and re-written in Go. We should upgrade to the maintained version, https://github.com/external-secrets/external-secrets.

[deprecated]: https://github.com/external-secrets/kubernetes-external-secrets/issues/864

[2022-03-08 22:05] larsks opened #519 "Upgrade netbox to 3.1"
We're currently running Netbox 3.0.9 (-ish), but version 3.1 was released in December and there have been [several updates](https://netbox.readthedocs.io/en/stable/release-notes/version-3.1/) since then.

Our version of Netbox has some patches related to group synchronization.  I've been trying to get https://github.com/netbox-community/netbox/pull/8603 accepted since last October, but so far ther

[2022-03-08 22:07] larsks commented on #433
I am closing this because I think we should switch to the upstream image.

[2022-03-08 22:07] #433 closed

[2022-03-08 23:01] naved001 commented on #517
The host at `bu-23-16.maas.massopen.cloud` has a serial cable connected to this switch and we can power cycle the switch since we have PDU access.

To do the netinstall of brocade switches I follow this guide: https://extremeportal.force.com/ExtrArticleDetail?an=000085385

kzn-ipmi-gw has a tftp server and a nfs-server since those are required for firmware installation. It's tftp server worked fin

[2022-03-08 23:24] #517 closed, assigned to naved001

[2022-03-10 19:50] joachimweyl commented on #509
[Draft](https://docs.google.com/document/d/1OiC9p8n0h3Jd8NzbHDI4i2KRKeGT3pKGd3gyqYuAv0I/edit?usp=sharing)

[2022-03-11 16:16] #444 closed

[2022-03-14 14:38] larsks commented on #506
Demo was successful and we are moving forward with the project. Closing this issue for now; we can open more specific ones as necessary.

[2022-03-14 14:38] #506 closed

[2022-03-14 21:51] joachimweyl commented on #508
Access acquired for myself and Milson already had access.

[2022-03-14 21:51] #508 closed

[2022-03-15 17:45] #422 closed

[2022-03-15 18:02] joachimweyl commented on #339
blocked on OCT5

[2022-03-15 18:03] #326 closed

[2022-03-15 18:46] #483 closed

[2022-03-16 13:08] naved001 commented on #516
Host oct-5-2 is now running centos.

[2022-03-16 13:08] #516 closed

[2022-03-16 13:42] naved001 opened #520 "Stop the bot from creating new issues on sprint-notes"
Because we are no longer taking notes there.

https://github.com/CCI-MOC/sprint-notes/issues/38

[2022-03-16 14:02] msdisme opened #521 "identify new owners for power 9- bch?"
identified as potential:
BCH - msd to close loop with piotr and rudolph week of March 14 with a goal of decision by March 23.

Other optioins:
Umass Unity or OCT, URI,  MIT

MOC goals: Ideally we want someone who will take the rack without it having to be moved and provide equivalent space for us to use

[2022-03-16 14:10] msdisme opened #522 "MOU for Shaw University"
Worked with BU OGC, will send once they provide a version. Minimal one so that we keep it from slowing down.

[2022-03-16 14:49] msdisme opened #523 "Review current mailing lists in mailman"
- [x] #524
- [x] #525
- [ ] #527
- [ ] #528
- [ ] #529

[2022-03-16 15:03] msdisme opened #524 "Generate list of all mailing lists in mailman"

[2022-03-16 15:09] msdisme opened #525 "Generate list of all people and links in each mailing list"
Generate list of all people and links in each mailing list

[2022-03-16 15:18] msdisme commented on #521
@msd to close loop with BCH, MZ to get feedback about interest from Unity/OCT if BCH says no.  Possible other option - BCH and other group share them (as long as MOC is not brokering that deal :-))

[2022-03-16 16:19] joachimweyl commented on #509
@larsks
I have a few questions about Migrating from MOC to NERC when you have a moment:
based on your [article](https://blog.oddbit.com/post/2015-09-29-migrating-cinder-volumes-betwe/).
1. Do you know of a way to migrate Snapshots as you did for Volumes?
2. Will the Image selected for the Instance cause problems since the Images are not the same between MOC and NERC?
3. When Importing the backup o

[2022-03-16 16:32] joachimweyl commented on #511
@larsks
I have a few questions about Migrating from MOC to NERC when you have a moment:
based on your [article](https://blog.oddbit.com/post/2015-09-29-migrating-cinder-volumes-betwe/).
1. Do you know of a way to migrate Snapshots as you did for Volumes?
2. Will the Image selected for the Instance cause problems since the Images are not the same between MOC and NERC?
3. When Importing the backup o

[2022-03-16 17:23] larsks commented on #511
I don't think that's possible (other than by converting the snapshot into a volume and migrating that).

If an instance is configured to boot from a volume, then the image is only relevant when initially populating the volume -- once the system is up, the image is no longer relevant. If the volume is migrated to the new environment, they will be able to boot from it without a problem.

If an insta

[2022-03-16 17:36] msdisme opened #526 "identify mailing lists which may be removed"
identify mailing lists which may be removed

[2022-03-16 17:37] msdisme opened #527 "identify mailing lists which may be consolidated"
confirm which can be removed in #526 then identify mailing lists that may be consolidated
### Deleted so far:
admin
bulletin
esi
jobs
redhat-moc
team

### Queries on deletion:

- [x] - guss-details
- [x] - guss-discuss
- [x] - ops-chat
- [x] - rootmail
- [x] - seccloud 0 archive saved (https://mail.massopen.cloud/mailman/private/seccloud/)
- [x] - moc-core-partners

List after initial consolidatio

[2022-03-16 17:40] msdisme opened #528 "share mailing list to be removed/consolidated with MOC team"
share mailing list to be removed/consolidated with MOC team

[2022-03-16 17:41] msdisme opened #529 "generate requirements for mailing list solution"
Create a list of requirements for the desired mailing list solution.

[2022-03-16 17:59] joachimweyl commented on #511
@larsks Let's get you access.
- [ ] [FAS RC Access](https://portal.rc.fas.harvard.edu/request/account/new/user) required sounds like you have that
- [ ] [NERC Project Request](https://regapp.mss.mghpcc.org/) - Justin/Scott approves
- [ ] [PI Request](https://docs.google.com/forms/d/e/1FAIpQLSdscMlm3TQR09sl7P-0n4oN1uzpd7YikqDubEYF2QDLVz6djA/viewform?pli=1&fbzx=-8227359805748438031) - Milson approve